[2019-11-13 03:23] Romantic-LiXuefeng commented on #676
If I make some mistake, please give some explain. Thanks!

@kqyang Yes,  It's a mistake. If all the streams come from the same input source. Only use one demuxer(thread) and one CueAlignmentHandler.

Yes, in fact in my last [issuecomment](https://github.com/google/shaka-packager/issues/676#issuecomment-552747621). I want to know how to sync between different input sources.
[code]
The demuxer(threa

[2019-11-13 03:23] #676 closed

[2019-11-13 09:27] salmoro opened #678 "Can't package Dash/Webm with PlayReady using Raw Key"
## System info
**Operating System**: Windows 10
**Shaka Packager Version**: v2.3.0-5bf8ad5ed5-release

## Issue and steps to reproduce the problem

**Packager Command**:

[code]

### What is the expected result?
   Manifest should be playable on Edge with Shaka Demo Player

### What happens instead?
- Shaka player throws "[REQUESTED_KEY_SYSTEM_CONFIG_UNAVAILABLE](https://shaka-player-demo.appspot.

[2019-11-13 14:12] vladimir-kazakov commented on #602
I found how to play cbcs content using PlayReady in Edge and IE11. It works already for PlayReady clients 4.0+ on Windows 10. Unfortunately, clients don't expose this info, so it's difficult to say which ones are these.

I noticed that although my NVIDIA GeForce GTX 1060 acts as a PlayReady client that supports Hardware DRM, it still doesn't support CBC keys, which means that it's the PlayReady 3.

[2019-11-13 18:15] kqyang commented on #602
@vladimir-kazakov Thanks for the great info! We won't have resource working on this internally in the near term. Would you be willing to help implement it and submit a pull request to us?

[2019-11-14 02:02] kqyang commented on #678
@salmoro Thanks for the bug report. Would you be able to share a link to the packaged content to help us re-produce the problem?

We generates the new cenc:pssh element only. We do not support the legacy mspr:pro element.

@joeyparrish Does Shaka Player support the new cenc:pssh element for PlayReady? See Microsoft documentation here: https://docs.microsoft.com/en-us/playready/specifications/mpeg-

[2019-11-14 07:27] salmoro commented on #678
@kqyang I've emailed the links to shaka-packager-issues@google.com

If it can better help you resolve this issue I can make a small script which mimics my process from input video to output MPD.

Thanks!

[2019-11-14 14:17] vladimir-kazakov commented on #602
Submitted the PR (#679).

[2019-11-14 17:45] joeyparrish commented on #678
Shaka Player supports both `cenc:pssh` and `mspr:pro`.  Not sure what you mean by "new", though.  Has it changed in some way I'm not aware of?

[2019-11-14 18:12] kqyang commented on #678
It is not really new, but compared to "mspr:pro", it is newer :).

[2019-11-14 18:23] joeyparrish commented on #678
Gotcha.  Yes, we support both.  :-)

[2019-11-14 18:23] joeyparrish commented on #678
Ironically, we supported `cenc:pssh` first. and only added support for the older `mspr:pro` recently.  :-)

[2019-11-14 18:35] kqyang commented on #678
Debugged the problem together with @joeyparrish, we suspected the problem is because Edge does not support encrypted WebM. @salmoro Can you try mp4 instead?

[2019-11-15 08:57] salmoro commented on #678
@kqyang Thanks for the info. I'll try mp4 and report back here.

[2019-11-15 19:48] #602 closed

[2019-11-15 19:49] kqyang commented on #602
@vladimir-kazakov The pull request has been merged. Thank you for your help in addressing this issue!

[2019-11-16 11:27] JanSunavec commented on #564
There is no support for independent segmentations. Only when you use ts files. For m4s shaka packager use ext-x-map and it's not possible combine it with independent segmentation tag.

[2019-11-19 19:49] EZDRM opened #680 "Packager with v1 common PSSH box,packager-win.exe does not create the proper PSSH for Widevine"
Using the prebuilt release v2.3.0 and useing the RAW key method for both WV and PR

packager-win.exe in=BigBuckBunny_320x180_Frag.mp4,stream=audio,output=audio.mp4,drm_label=AUDIO in=BigBuckBunny_320x180_Frag.mp4,stream=video,output=h264_360p.mp4,drm_label=SD  --enable_raw_key_encryption --keys label=AUDIO:key_id=0fbf6013e4645deb99707d3899c29651:key=d225a6b115e45a8fe62236dc5e720fdd,label=SD:key_id

[2019-11-19 20:08] kqyang commented on #680
The generated Widevine PSSH does not contain content id. You'll need either a server implementation that accepts key id only or you can provide content id in license server url during playback.

If neither is possible, you'll have to provide your own PSSH with content_id during packaging: https://google.github.io/shaka-packager/html/tutorials/raw_key.html#examples.

@EZDRM I am closing this issue,

[2019-11-19 20:08] #680 closed

[2019-11-19 20:20] EZDRM commented on #680
Hello

Would we jus use the WV PSSH or
WV PSSH,PR PSSH?

Since it auto generates the PR PSSH properly, if we just provide the WV PSSH will that sill work?
The pssh-box script need to be created, is there a pre made one or does the Win Packager.exe have this built in?

From: Kongqun Yang <notifications@github.com>
Sent: Tuesday, November 19, 2019 3:08 PM
To: google/shaka-packager <shaka-packager@no

[2019-11-19 22:13] kqyang commented on #680
Yes, you can mix --pssh and --protection_systems.

Not right now, but we'll include it in the future releases.

[2019-11-21 19:42] EZDRM commented on #680
Hello

Thank you for the assistance

We were able to get it working, one thing that was not clear in the documentation was if we had
--protection_systems widevine, PlayReady
While providing the WV PSSH as well as both protection systems caused the MPD to have several PSSH listed the one we provided and the common

So by trial and error we used only --protection_systems PlayReady

This may be somet

[2019-11-21 20:28] kqyang commented on #680
@EZDRM Thanks for the feedback. We'll update our documentation to make it clearer.

[2019-11-21 22:18] #643 closed

[2019-11-21 22:28] kqyang commented on #643
@Jason239 Let us know if it fixes your problem. Thanks.

[2019-11-22 04:50] #670 closed

[2019-11-22 08:01] mmarko-globallogic opened #681 "Not able to retrieve the license from https://license.uat.widevine.com/cenc/getcontentkey/widevine_test"
Hi guys,

I was trying to retrieve the license from https://license.uat.widevine.com/cenc/getcontentkey/widevine_test for https://github.com/google/shaka-packager/tree/master/packager/app/test/testdata/encryption-with-multi-drms test content and it doesn't seem to work. I'm getting 400 response code.
Can you please confirm that this license acquisition URL is the right one for the content (when us

[2019-11-22 17:18] baniks3 opened #682 "[Question] How to verify that HW accelerated AES is used during runtime?"
## System info
**Operating System**: Custom embedded Linux kernel based on Ubuntu 16.04
**Shaka Packager Version**: v2.3.0, 1bcaf0a8355022fbfab431462666d396b4d119de

## Issue and steps to reproduce the problem
I have an application that runs `n` packager instances in a multiple threads (not via CLI). v2.3.0 is said to have support for HW accelerated AES via the latest boringssl update. However, I'

[2019-11-22 18:19] kqyang commented on #682
@baniks3 Hardware accelerated AES is added in #198, which will be included in v2.4. So v2.3 does not have it yet.

Can you try compiling from latest packager source code? Alternatively, you may wait for v2.4 release in coming weeks.

[2019-11-22 18:28] baniks3 commented on #682
@kqyang Thanks for the quick reply. Sorry I gave you the wrong impression when I mentioned v2.3.0. What I'm running is a compiled build of Iaba52f0fc6c97d413e973f9a3d8c74cf8c83aa03 which is a couple of commits behind the latest master but has the hw aes support. Any other flag I need to enable somewhere?

[2019-11-22 19:09] kqyang commented on #682
No. It should just work, unless OPENSSL_NO_ASM is disabled somehow.

We have a unittest you can use to verify: https://github.com/google/shaka-packager/blob/master/packager/media/base/aes_cryptor_unittest.cc#L628.

Since you built the library yourself, you may also add a CHECK to confirm that hwaes_capable is returning true: https://github.com/google/boringssl/blob/f4d8b969200f1ee2dd872ffb85802e6a

[2019-11-22 19:54] kqyang commented on #681
Please look at examples here: https://google.github.io/shaka-packager/html/tutorials/widevine.html.

Please contact [Widevine](https://support.google.com/widevine/troubleshooter/6027072) if you have problems on Widevine servers.

[2019-11-22 19:54] #681 closed

[2019-11-22 23:37] #682 closed

[2019-11-22 23:37] baniks3 commented on #682
Thanks @kqyang. I was able to confirm that HW acceleration is in fact active using the `hwaes_capable()` function. I also ran the unit test and they passed but am not sure how they can be used to measure performance. A clarifying comment on that might be helpful for future. But, for the most part, I got the answer I was looking for. Closing as resolved.

[2019-11-22 23:46] kqyang commented on #682
You can compile with OPENSSL_NO_ASM or hardcode hwaes_capable to return false to see the difference.

There are a few other opportunities we can improve the AES performance, e.g. #667. It can actually result in more gains compared to using HWAES alone. Let us know if you are interested in working on that.

[2019-11-26 12:33] elsampsa opened #684 "How do you build this?"
## Issue and steps to reproduce the problem
[code]
Gives me
[code]
No information anywhere on **how to actually build this!?**

[2019-11-26 13:34] elsampsa commented on #684
Ok.. found it: https://github.com/google/shaka-packager/blob/master/docs/source/build_instructions.md

[2019-11-26 13:34] #684 closed

[2019-11-27 01:06] baniks3 commented on #667
@kqyang I'd be willing to work on this, except I'm not sure what optimization you're looking to implement. https://github.com/google/shaka-packager/blob/master/packager/media/base/aes_encryptor.cc#L79 ends up calling https://github.com/google/boringssl/blob/104306f587751f34852838915fb61ce5551c2332/crypto/fipsmodule/aes/aes.c#L817 which seems to be already using hw acceleration if available. Please

[2019-11-27 01:54] kqyang commented on #667
@baniks3 Thanks for volunteering.

Please see OpenSSL's implementation here: https://github.com/google/boringssl/blob/104306f587751f34852838915fb61ce5551c2332/crypto/fipsmodule/modes/ctr.c#L85.

I had done a quick hack by replacing the current logic in https://github.com/google/shaka-packager/blob/master/packager/media/base/aes_encryptor.cc#L77 with

[code]

It increased performance by more than 3

[2019-11-28 17:34] baniks3 commented on #667
@kqyang Thnx for the input. Hopefully I'll be able to allocate time to work on it from next week.

[2019-11-29 04:57] #678 closed

[2019-11-29 17:03] pyahmed opened #685 "Live stream with subtitles (WebVTT)"
## System info
**Operating System**: macOS Mojave 10.14.6
**Shaka Packager Version**: 2.3.0

## Issue and steps to reproduce the problem
Source is UDP live stream, I intend to inject live subtitles. All subtitles present in the source vtt  (timed into the future) show up correctly in the player. If I want to add a new subtitle I add it to the source vtt file and save it. Even if the cue is in the

[2019-12-02 19:20] kqyang commented on #685
There are a few changes @jakubvojacek did to make it work. @jakubvojacek are you interested in sending a pull request to merge your changes to master? It can be put under a configurable flag.

[2019-12-02 20:01] jakubvojacek commented on #685
Hello,

we didn't do anything on the packager side apart from what is listed and described by you in #380.

The main issues we're still fighting with, are in packager - like that it needs the secondish heartbeats, single timing issue in input can break the whole packaging process (one timestamp that is much more in future for whatever reason - it should disregard subs (or put to queue of some kind

[2019-12-02 21:19] #646 closed

[2019-12-05 10:03] murillo128 opened #686 "Compilation error: clearing an object of non-trivial type ‘struct shaka::media::H264SEIMessage’"
## System info
Ubuntu Desktop 19.04
gcc (Ubuntu 9.2.1-9ubuntu2) 9.2.1 20191008

## Issue and steps to reproduce the pr
Compile with

[code]
Got this error
[code]
Fixable with:
[code]

[2019-12-05 17:37] kqyang commented on #686
@murillo128 Thanks for the bug report. Can you send a pull request to fix the problem?

[2019-12-09 14:13] karlg-arris commented on #393
@kqyang
How about supporting Widevine CAS compliant output?
E.g inserting ECM in stream instead of PSSH

[2019-12-09 14:28] Nixon197 opened #687 "Feature request: LG's WebOs 3.0 compliant HLS stream"
Is there an option to produce audio and video in a single TS stream?

LG's WebOS 3.0 specs don't support audio-only TS streams as noted in http://webostv.developer.lge.com/common-page/faqs/streaming-http-live-streaming-hls-troubleshooting/

BR

[2019-12-09 15:33] ronak2121 commented on #660
Ok. When would we be able to get true support for the latest macOS SDKs?

I'll try building Shaka on Linux again and let you know what happens.

[2019-12-09 16:53] kqyang commented on #660
@ronak2121 We don't have bandwidth to work on it in the near term. Hopefully we will have some bandwidth next year.

[2019-12-09 16:58] kqyang commented on #687
@Nixon197 Not right now. HLS-06 is already pretty old, the current HLS spec version is 23. Also, the FAQ in the link is provided in 2014, is it still valid?

[2019-12-09 17:02] kqyang commented on #393
@karlg-arris There is no plan to support Widevine CAS output right now in Shaka Packager. We will re-evaluate if there are a lot of requests for it.

[2019-12-10 12:36] Nixon197 commented on #687
@kqyang

Hi

It seems that LG is pretty conservative about HLS version implementation.
According to this document http://webostv.developer.lge.com/discover/specifications/supported-media-formats/, even the newest version of WebOS - 4.5, is only supporting HLS version 5.

We tried with DASH also but no joy.
It would be great that Shaka could support older HLS versions.

BR

[2019-12-11 19:57] jeybs opened #688 "gclient sync error windows 10"
Hi, currently i'm following the guide for windows installation.. current i'm using Windows 10, but i keep getting error on 'gclient sync' command.

Below is the error i got when running `gclient confif`

![Untitled](https://user-images.githubusercontent.com/3271075/70655559-6b0ce980-1c93-11ea-9c65-8f6bb5c1208e.png)

[2019-12-11 20:00] kqyang commented on #688
See https://google.github.io/shaka-packager/html/build_instructions.html#windows-system-requirements. Have you followed the above instructions and installed Visual Studio and Windows 10 SDK?

[2019-12-11 20:04] jeybs commented on #688
@kqyang yes i've already installed the following sysgem requirements for windows state on the guide.

[2019-12-11 20:13] kqyang commented on #688
Can you try Visual Studio 2015?

[2019-12-12 04:09] jeybs commented on #688
Hi @kqyang Thanks! i've finally made it work. I just need to install the Visual Studio 2015 to make it build.

[2019-12-12 04:09] #688 closed

[2019-12-18 09:52] pyahmed commented on #685
So essentially at the moment there is no way to make live subtitles work in any **reliable** way (DASH or HLS)?

[2019-12-23 10:30] Jason239 opened #689 "link error(LNK1169) caused by using openssl and boringssl"
If I have to use openssl API with Shaka library, how can I use both of them?
If I link both(Openssl and Shaka libs), A redundancy error occurs for openssl and boringssl.
So I've only linked openssl, but 'CRYPTO_library_init' API has been added as a recent update is not in openssl. So after updating, link error has been occurring.

Can't I use openssl ? or is there any link option to avoid redundan

[2019-12-24 00:14] kqyang commented on #689
@Jason239 Any reason that you want to use openssl but not boringssl in your code?

I think you can replace it with

[code]

It is present in both openssl and boringssl. Feel free to send us a pull request if it works for you.

[2019-12-24 01:28] kqyang commented on #640
Move it to v2.5 milestone, but will do it in v2.4.1 minor release.

[2019-12-24 01:32] kqyang opened #690 "Support Dolby Vision backward compatible profiles (e.g. profile 8)"
This issue is split from #341.

[2019-12-24 01:34] kqyang commented on #341
Dolby Vision is already supported. Move the work on Dolby Vision backward compatible profile to #690.

[2019-12-24 01:34] #341 closed

[2019-12-24 01:35] Jason239 commented on #689
There are no these APIs in boringssl but I use.
[code]

I'll try it, thanks !

[2019-12-24 01:38] kqyang commented on #689
You may want to take a look at the porting guide here: https://boringssl.googlesource.com/boringssl/+/HEAD/PORTING.md

[2019-12-24 04:54] Jason239 commented on #689
Thanks, and I think I can remove or replace those APIs and only use boringssl.

[2019-12-24 04:57] #689 closed

[2019-12-25 07:42] unext-wendong commented on #674
Any update on the v2.4 release plan?

[2019-12-27 02:34] #550 closed

[2019-12-31 20:38] Canta opened #691 "Command line argument for changing HLS start media sequence number"
This ticket is for a new functionality.

**I would like to be able to set the initial "EXT-X-MEDIA-SEQUENCE" tag for HLS packaging by command line argument.**

The use case this is related to is "_graceful restarts for shaka packager live streams_". Allow me to explain it:

I have many different live streams provided by third parties. I do stuff with the streams (transcoding, transrating, packagin

[2020-01-02 02:58] weiyuefei opened #692 "packager can not parse multicast stream"
## System info
**Operating System**: CentOS 7.0
**Shaka Packager Version**: 2.4.0

## Issue and steps to reproduce the problem

**Packager Command**:
packager --v=5 'in=udp://239.255.0.1:5001?interface=10.91.4.12&reuse=1,stream=audio,init_segment=audio/10800P_h265_dash_init.mp4,segment_template=audio/1080P_h265_dash_$Number$.m4s' 'in=udp://239.255.0.1:5001?interface=10.91.4.12&reuse=1,stream=video

[2020-01-04 16:06] sijuthankachan opened #693 "Is it possible to use Raw key encryption for .vtt file as well? how i can include the vvt file in shaka player"
## System info
**Operating System**: Ubuntu 14.04 LTS
**Shaka Packager Version**: c257113-release

[2020-01-05 16:32] ronak2121 opened #694 "Compilation Error: cannot bind ‘std::unique_ptr<shaka::media::MpdNotifyMuxerListener, std::default_delete<shaka::media::MpdNotifyMuxerListener> >’ lvalue to ‘std::unique_ptr<shaka::media::MpdNotifyMuxerListener, std::default_delete<shaka::media::MpdNotifyMuxerListener> >&&’"
## System info
**Operating System**: Amazon Linux 1
**Shaka Packager Version**: v2.4.0

## Issue and steps to reproduce the problem
I'm just trying to compile Shaka Packager on my platform. I have GCC 4.9.4, and am running on Amazon Linux 1.

Here's the error I get:

../../packager/media/event/muxer_listener_factory.cc: In function ‘std::unique_ptr<shaka::media::MuxerListener> shaka::media::{anony

[2020-01-14 10:15] Jason239 opened #695 "WebM format file packaging with FPS DRM"
Hi.

Shaka packager doesn't support package with FPS DRM in WebM format input ?
I tried it but the error log printed like this :

[code]

And the content information is this.
[code]

[2020-01-14 19:58] salmoro opened #696 "Can't play HLS/FairPlay content"
## System info
**Operating System**: Ubuntu 16.04
**Shaka Packager Version**: v2.4.0p2-c731217-release

## Issue and steps to reproduce the problem
I followed the tutorial for creating HLS/Fairplay content but when trying to play on Shaka Demo player I get `Shaka Error DRM.INIT_DATA_TRANSFORM_ERROR (RangeError: Malformed FairPlay init data)`

[Here](https://shaka-player-demo.appspot.com/demo/#audi

[2020-01-15 08:36] Jason239 commented on #695
And one more thing.

If I package webm format with input and encrypt, should the output also be webm?
When I tried it, if I make output as mp4(or m4s), m4s files were not encrypted.

[2020-01-15 13:01] Canta commented on #696
Well... IDK if it has anything to do with your case, but looking at the contents of a medialist of yours I can see this:

`#EXT-X-KEY:METHOD=SAMPLE-AES-CTR,URI="skd://[REDACTED URI]",KEYFORMATVERSIONS="1",KEYFORMAT="com.apple.streamingkeydelivery"`

I have several working HLS+FairPlay streams, which have this other syntax:

`#EXT-X-KEY:METHOD=SAMPLE-AES,URI="skd://[REDACTED URI]",KEYFORMATVERSIONS

[2020-01-15 22:02] rkuroiwa commented on #693
The packager does not provide encryption for VTT files. AFAIK, there isn't a spec that specifies how to encrypt VTT files nor the text samples put in e.g. ISO BMFF container.

There is an example of using vtt as input here https://google.github.io/shaka-packager/html/tutorials/dash.html

[2020-01-16 00:41] rkuroiwa commented on #694
It feels like a compiler bug than the code not being spec compliant. Is there a reason why it doesn't use the clang toolchain that is bundled with the project?
Also the modification is probably using freed memory.
The 4th line should be

[code]

[2020-01-16 09:01] salmoro commented on #696
@Canta Thanks for your input. CBCS doesn't seem to fix it.

[2020-01-17 16:38] godexsoft opened #697 "subtitles must start within the first 10 minutes, otherwise they get packaged incorrectly"
## System info
**Operating System**: Linux in Docker, Alpine
**Shaka Packager Version**: v2.3.0 in production

## Issue and steps to reproduce the problem
The problem appears only for a video that has very sparse subtitle usage. Specifically in the affected movie the first subtitle appears about **20 minutes into the movie**. This subtitle appears in **en_text/1.ts**. My understanding is that ther

[2020-01-17 21:56] kqyang commented on #695
@Jason239 That is expected. The only encryption mode WebM supports is "cenc" (AES-CTR). Please take a look at the spec here: https://www.webmproject.org/docs/webm-encryption/.

As for your follow-up question, I suspect that it was because of clear lead. Let us know if it is not.

I'll close the bug. Feel free to re-open or reply if you have questions or concerns.

[2020-01-17 21:56] #695 closed

[2020-01-17 21:58] kqyang commented on #693
@sijuthankachan Does that answer your question? Let us know if you have more questions.

[2020-01-18 02:08] kqyang commented on #696
@salmoro Do you have a link to the demo with cbcs content? On what platform are you trying playback on?

[2020-01-18 02:23] kqyang opened #698 "Change AV1 cbcs encryption to start alignment"
AV1-ISOBMFF spec is updated [recently](https://github.com/AOMediaCodec/av1-isobmff/pull/116) to use start alignment instead of end alignment for cbcs:

- for the protected scheme cbcs:
    - BytesOfProtectedData SHALL start on the first byte and end on the last byte of the decode_tile structure (including any trailing bits).
    - A subsample SHALL be created for each tile, even if its size is les

[2020-01-18 04:22] ronak2121 commented on #694
We cannot use that; as our build environment can’t use clang. We have to use GCC 4.9.4.

[2020-01-18 23:20] sr1990 opened #699 "Issue while trying to build on Ubuntu 19.10"
## System info
**Operating System**: Ubuntu 19.10.
**Shaka Packager Version**: latest

## Issue and steps to reproduce the problem
Following steps at: https://github.com/google/shaka-packager/blob/master/docs/source/build_instructions.md
$ gclient config https://www.github.com/google/shaka-packager.git --name=src --unmanaged
$ gclient sync

What is the expected result?
Build successful
Didn't see

[2020-01-19 19:30] salmoro commented on #696
@kqyang
1. [Here](https://shaka-player-demo.appspot.com/demo/#audiolang=en-US;textlang=en-US;uilang=en-US;asset=https://temp-for-testing-shlomo.s3.amazonaws.com/fairplay-shaka-issue/v2/master.m3u8;license=https://fps.ezdrm.com/api/licenses/0f3f9b02-2163-4fed-bc84-657ce217a3e9;certificate=https://jem-ccdb-media.s3.amazonaws.com/video/static/fairplay.cer;panel=CUSTOM%20CONTENT;build=uncompiled)'s th

[2020-01-21 06:49] vladimir-kazakov commented on #698
Can this change somehow affect playback in media players built before this change?

[2020-01-21 07:03] kqyang commented on #698
As far as I know, it does not affect devices using Widevine and PlayReady. This is a request from Apple and Apple devices will only support start alignments.

[2020-01-21 07:16] vladimir-kazakov commented on #698
This started confusing me even more. Now that all DRM systems support cbcs as well, how players will act when noticing this change? Sure, Apple can update their stuff, but not everyone will be updated at the same time. How old, not updated things will handle this change?

[2020-01-21 07:38] kqyang commented on #698
This affects AV1 only. If you have AV1 contents packaged before this change, they'll need to be re-packaged to work on Apple devices.

[2020-01-21 07:54] kqyang commented on #699
This is because the build scripts does not support having two tags in the same CL. I have removed the temporary tags (v.2.4.0p2). It should work now.

I'm closing this bug as fixed. Let us know if you are still seeing problems. Thanks.

[2020-01-21 07:54] #699 closed

[2020-01-21 17:36] runetorgersen opened #700 "Packager output video has missing data."
## System info
**Operating System**: Ubuntu 16.04 xenial
**Shaka Packager Version**: v2.3.0, master git branch f5f3f3abc57d14ad8daa7c79ceb7f70d7dc0764

## Issue and steps to reproduce the problem
We are trying to package content encoded with an Harmonix encoder.
Output results in video that has video glitches on the bottom few rows in picture.

Issue persists regardless of if packager uses TS or f

[2020-01-21 21:43] SeawardT commented on #696
To confirm, you get the exact same error whether you use iOS or OSX?

[2020-01-21 21:50] salmoro commented on #696
@SeawardT Yes! Same error.

[2020-01-21 21:51] kqyang commented on #696
+@SeawardT to take a look. Also @joeyparrish if there is any insight on the Shaka Player error.

[2020-01-21 22:32] joeyparrish commented on #696
`DRM.INIT_DATA_TRANSFORM_ERROR (RangeError: Malformed FairPlay init data)` means that you need to customize the init data transform.  See the [FairPlay tutorial](https://shaka-player-demo.appspot.com/docs/api/tutorial-fairplay.html) for more information.

[2020-01-21 22:49] salmoro commented on #696
@joeyparrish I saw that section in the tutorial but miss-interpenetrated it as referring to special cases.
How would I go about creating the `getMyContentId(initData)` function mentioned there?

[2020-01-22 06:08] sr1990 commented on #699
@kqyang Worked! Thanks

[2020-01-22 18:03] Canta opened #701 "[TS] Segment template $Time$ is truncated to 32 bits"
## System info
**Operating System**: CentOS Linux release 7.7.1908 (Core)
**Shaka Packager Version**: c7312176078940ba44b4dc5c8967eb0f3d691ea4

## Issue and steps to reproduce the problem

**Quick description**:
When packager runs for a long enough time, `$$Time$$` value resets and goes back from zero.

**Packager Command**:
[code]

**What is the expected result?**:
To increase linearly the value

[2020-01-22 18:07] Canta commented on #691
Hi there.

I believe this ticket should have the "enhancement" tag.
If any of you shaka devs has the chance to take a look at this, please do, as I wouldn't want to mantain a fork just for a single command line argument.

Thanks!

[2020-01-22 19:48] kqyang commented on #701
@Canta Thanks for the issue report. This looks like a bug to me as the timestamp should be 64 bits instead of 32 bits, i.e. it shouldn't wrap around at 0xffffffff.

Are you able to re-produce the problem? Can you increase verbose level to 4 (--v=4)? It can produce more debug which may give us a clue on where and why the timestamp is truncated?

[2020-01-22 20:15] Canta commented on #701
Errr... I think that would be messy. If I did my math right (most likely I did not), it would take 1.7 days or so to reach that point from zero. All that time generating verbose logs will make it hard to handle, and I gotta guess when does the wrap actually happen.

No worries, I'll do it if it's needed to understand this. But would really like to avoid it. Isn't it any way to force the startup `$

[2020-01-22 21:16] kqyang commented on #691
@Canta Sorry for the delay in response.

Yes, that is a difficult problem. We had some thoughts on this. An idea we had was to persist the current states to a file then restore it later after restarts, but we had not found time and resource to implement it.

It is an interesting idea to keep the player happy by manipulating HLS `media_sequence_number` only. I do have a few questions on this though

[2020-01-22 21:48] kqyang commented on #701
@Canta I have not tried myself but I think you instruct ffmpeg to generate a stream with large time offsets. Shaka Packager does not change timestamps. The input timestamp will be carried as is to the output (unless it is truncated somewhere).

There are two possible causes of the problem:
(1) The timestamps in the input is already truncated
(2) It is truncated by Shaka Packager somewhere in the c

[2020-01-22 23:15] Canta commented on #691
It's cool! Thanks for taking a look to it.

I do nothing. I could, and was about to actually, but didn't.

My approach was going to be some croned bash alchemy working with the files found in the directory and automatically generating a second medialist with extra data added to shaka packager's one. It most likely would work, but preferred not get into that mess unless requested by real life needs

[2020-01-23 00:43] kqyang commented on #691
@Canta Thanks for the thorough explanations. Are you planning to send a pull request with your changes?

[2020-01-24 20:56] Canta commented on #701
Update:

I still didn't had the time to test it right, but I've seen something strange that I'd like to report here. I get an input stream, transcode it, and feed it to two different shaka packager instances: one for HLS, and another one for MPEG-DASH. This is because I need two different encryption setups for DRM. But both packager instances receives the same (splitted) input: no changes in times

[2020-01-24 21:42] kqyang commented on #701
Ahh, that is good information. No, it is because of your change, but your data does help us pinpoint where the problem is:

https://github.com/google/shaka-packager/blob/master/packager/media/formats/mp2t/ts_segmenter.cc#L128

[code]

Can you try if the above change fixes your problem? If yes, you are welcome to send us a pull request?

Thanks.

[2020-01-24 23:19] Canta commented on #701
The TS format! That's something I started using about a week ago because of some devices. When I used fmp4 I never saw this happening, and I'm using it only for HLS. Makes sense.

I've patched this by hand in one of our servers, and will let it run the whole weekend on a single stream. Most likely will have feedback by next monday.

BTW, two questions:
  1.  I see [this other suspiciously-related-

[2020-01-24 23:28] kqyang commented on #701
Yes, it is a user set offset. We don't expect it to be more than (1 << 32) / 90000 seconds.

Yes, please use int64_t for consistency. And yes, it is signed so it can handle negative numbers in some situations.

[2020-01-25 13:59] Canta commented on #701
It worked. Now I see ts segments with `$Time$` way over the uint32 limit, and also in sync with the MPEG-DASH chunks timings.

Let me first finish the #691 PR, and then will send you another one for this. It's an easy fix.

[2020-01-28 09:30] Jason239 opened #703 "WebM (vp8) format playback with PlayReady"
Is there any player which can playback WebM(vp8) & PlayReady contents packaged by Shaka Packager?
I've tried it in various player on Edge, but it all failed. and Shaka player report this error.
`REQUESTED_KEY_SYSTEM_CONFIG_UNAVAILABLE (6001)`

I think it seems that the webm media file doesn't have encryption information(such as PSSH) and only in mpd.

Did I do anything wrong?

[2020-01-28 21:20] kqyang commented on #703
@joeyparrish What does this error mean? Do you know if Edge supports encrypted VP8/WebM playback?

[2020-01-28 21:25] kqyang commented on #701
@Canta Great. Thanks for the confirmation!

[2020-01-28 21:27] joeyparrish commented on #703
I have never tested that configuration, but the error code would indicate that the version of Edge & Windows you have do not support that.  I don't recall ever hearing about VP8 in Edge, but I did hear about VP9.  I'm not sure if it was ever supported in combination with PlayReady.  The results may also differ between the new Chromium-based Edge and the previous version of Edge.

Side-note: You me

[2020-01-29 08:53] Jason239 commented on #703
Okay, I see.
For now, when I tested, the Chromium-based Edge just only use Widevine, but someday I'll try this test again with PlayReady.

Thanks.

[2020-01-29 08:53] #703 closed

[2020-01-29 19:07] qchroman opened #704 "Does it support fragments decryption?"
Hello Shaka team,

I have today found that the packager allows you specifying the "enable_raw_key_decryption" property, but I couldn't find any examples of how it may be used?

Based on the information I have found, it may be used on fMP4 + CENC files to decrypt them if one has a key. Does it mean that one may also decrypt files that contain fragments only? Is it possible at all using the shaka-pa

[2020-01-29 20:50] kqyang commented on #704
@qchroman As long as the fragment is a self-initializing media segment, then it can be decrypted. Alternatively, you can concatenate the fragment with an initialization segment yourself before feeding it to shaka-packager.

I'm closing this issue, but feel free to reply if you have more questions or if there are problems.

[2020-01-29 20:50] #704 closed

[2020-01-29 20:55] qchroman commented on #704
Thank you @kqyang !

ffmpeg will help concatenate init fragment with other fragments, but how would the command for the shaka-packager look like if I may ask? I couldn't find anything on that matter. Something like:

[code]

Also, I presume the packager doesn't work with MPEG 2 TS fragments (not fMP4 + CENC fragments)? I.e. those can't be decrypted, correct?

[2020-01-29 21:44] kqyang commented on #704
You don't really need a ffmpeg to do it. You can literally concatenate the init fragment with other fragments byte by byte, e.g. you can do it in Linux with "cat init.mp4 fragment_1.mp4 > out.mp4".

And yes, the command looks correct to me. Note that if audio and video are encrypted with different keys, you'll need to provide two keys here.

SAMPLE-AES encrypted MPEG 2 TS fragments are supported.

[2020-01-29 22:00] qchroman commented on #704
Thank you again for your fast replies. I will try some commands and see if I will be able to succeed.

[2020-01-29 22:31] qchroman commented on #704
Ok, it worked perfectly fine with DASH. For HLS (MPEG 2 TS) it didn't for some reason. I created the asset

[code]

I then ran (using WSL)
[code]

And tried decrypting video portion to simply check whether the video will play after decryption
[code]

I ended up with
[code]

I may be missing something. The original asset is a SAMPLE-AES protected HLS with MPEG2-TS segments.

If you have time to loo

[2020-01-30 03:15] kqyang commented on #704
@qchroman Ooops. 0xdb is encrypted stream, so we actually don't support decrypting SAMPLE-AES protected MPEG2-TS right now.

Feel free to file a feature request for it if you'd like to get it supported (we do not have bandwidth to work on it right now though).

[2020-01-30 11:59] qchroman commented on #704
Got it. Thank you!

[2020-01-30 12:00] yotta-stu opened #705 "Support for AC-4 audio on packager"
## System info
**Operating System**: <e.g. macOS Sierra, Ubuntu 14.04 trusty etc>
Ubuntu 16.04.5
**Shaka Packager Version**: <e.g. v1.6.1, commit SHA etc>
version 53aa775-release
## Issue and steps to reproduce the problem
Request support for Dolby AC-4 audio type.
**Packager Command**:
sudo ./packager \
  'input=/home/packager/content/'$content',stream=video,init_segment='$out'/video/init-video.m

[2020-01-30 17:37] jbree commented on #675
@kqyang My understanding is that, to support low-latency DASH using CMAF + chunked encoding, shaka-packager would only need to add support for the `BaseURL@availabilityTimeOffset` and the `BaseURL@availabilityTimeComplete` parameters.

These parameters conspire to inform the client that fragments will be ready prior to the completed segment. I suppose the truth of this declaration depends on wheth

[2020-01-30 18:27] aleek commented on #675
As far as I remember, shaka creates fragments with different name, renaming them after completion. So along with `BaseURL@availabilityTimeOffset`, you'll have to change this behaviour. Also, I think that http server should be configured to support Partial Content.

[2020-01-30 18:34] kqyang commented on #705
@yotta-stu Do you have a sample AC-4 we can use for development?

[2020-01-30 18:42] jbree commented on #675
@aleek Thanks, I'll look into this also.

[2020-01-30 18:44] kqyang commented on #149
@amotl Are you still interested in sending a pull request on your work on HTTP file support?

[2020-01-30 21:35] kqyang commented on #675
@jbree @aleek Thanks for bring this up. Yes, @aleek is correct that the writing behavior needs to be changed too.

In summary, here are the items I think that needs to be implemented to get a complete low-latency DASH support (may be incomplete):

1. Support `BaseURL@availabilityTimeOffset` and `BaseURL@availabilityTimeComplete` attributes as @jbree mentioned

2. Change the writing behavior to cre

[2020-01-31 12:37] yotta-stu commented on #705
You can download the content with AC-4 from this link (it will be active for 7 days)

https://we.tl/t-7PtB6FcK9O

Thanks,

Stuart

From: Kongqun Yang <notifications@github.com>
Sent: 30 January 2020 18:34
To: google/shaka-packager <shaka-packager@noreply.github.com>
Cc: yotta-stu <stuart.ballinger@yottamedialabs.com>; Mention <mention@noreply.github.com>
Subject: Re: [google/shaka-packager] Suppor

[2020-01-31 18:25] #691 closed

[2020-01-31 18:32] kqyang commented on #705
@yotta-stu Thanks!

[2020-01-31 18:52] kqyang commented on #694
@ronak2121 We are not able to re-produce the problem gcc either. The version I tried is gcc 8.3.0. So I agree with @rkuroiwa's assessment. This is a bug in old version of gcc and has been fixed.

Can you update your gcc to a newer version?

[2020-01-31 18:53] kqyang commented on #693
Closing due to inactivity. Feel free to reply or file a separate issue if you have more questions.

[2020-01-31 18:53] #693 closed

[2020-01-31 21:40] kqyang commented on #696
@salmoro I am closing the issue as it looks like a player configuration issue. Please file an issue in Shaka Player instead: https://github.com/google/shaka-player/issues.

[2020-01-31 21:40] #696 closed

[2020-01-31 21:52] kqyang commented on #697
@godexsoft This is a limitation in Shaka Packager as right now we only pad the time by 10 minutes: https://github.com/google/shaka-packager/blob/master/packager/packager.cc#L69. In standard production content, we do not expect to see a video without subtitles in the first 10 minutes.

A short term quick fix would be to increase the bias to 30 minutes. Do you think that will be sufficient for your

[2020-01-31 22:42] godexsoft commented on #697
Thanks for pointing that out @kqyang!

That would fix the issue for this particular movie but just like you, I don't expect this to be an often use case if at all. Our solution was to just add the title of the movie as a subtitle somewhere around the first minutes of the video and that fixed the rest of it.

It's up to you but I would say better leave this for another day. Perhaps some day you can

[2020-02-02 02:37] #701 closed

[2020-02-05 16:08] jbree commented on #675
@kqyang Thanks for the outline. I've made some modifications to MultiSegmentSegmenter to make it write subsegments as they arrive at base Segmenter.

`--generate_sidx_in_media_segments` needs to be disabled in this mode since we don't have enough information when the first segment is written.

I wonder if you have any thoughts on properly signalling the MuxerListener. Currently I am writing out ea

[2020-02-06 05:38] ronak2121 commented on #694
We were able to upgrade and this is now fixed. Thanks.

[2020-02-06 05:38] #694 closed

[2020-02-06 16:30] jbree commented on #675
After some more research, I think the way to get around the problem in my previous post is to resolve #554. Then the client can anticipate the segments without a listing in the MPD.

[2020-02-07 12:07] francois-cabrol opened #708 "DASH stream descriptor field "roles" not taken into account for WebVTT text streams"
## System info
**Operating System**: Windows 10
**Shaka Packager Version**: v2.4.1-c731217607-release

## Issue and steps to reproduce the problem

**Packager Command**: packager in=TestVideo_2160p23.mp4,stream=video,output=TestVideo_2160p23.mp4 in=TestVideo_lcaac_AraSPK.mp4,stream=audio,output=TestVideo_lcaac_AraSPK.mp4 in=TestVideo_lcaac_EngSPK.mp4,stream=audio,output=TestVideo_lcaac_EngSPK.mp4

[2020-02-08 01:24] kqyang commented on #708
Thanks for reporting the problem. Yes, that is a bug.

[2020-02-08 18:01] hariszukanovic opened #709 "Output multiple manifest files with track selection"
## System info
All

## Issue and steps to reproduce the problem
My problem is that some players (out of my control) are unable to recognise a track they are unable to decode and render correctly... ending up in an error state when they have switched to it...
A simple example would be a mix of interlaced and progressive video tracks when de-interlacing is not supported on some devices. Player is us

[2020-02-10 06:17] kqyang commented on #709
@hariszukanovic We don't support it directly right now, but there is a workaround. We actually bundle a mpd generator in our releases, which can be used to do what you have described here. Here is a sample command:

[code]

Then you can feed the generated .media_info to `mpd_generator`. For example, you can generate two DASH mpds with the first one containing all streams and the second one contain

[2020-02-10 11:21] hariszukanovic commented on #709
@kqyang
Thanx for the workaround pointer.
We do need this for both LIVE and VOD, but primarily for LIVE

[2020-02-10 12:59] amotl commented on #149
Dear Kongqun,

thanks for following up on this task. I will be happy to get back to work on this and will ask @JuliusThms about support for that.

With kind regards,
Andreas.

[2020-02-10 23:27] kqyang commented on #675
@jbree See my replies below.

Yes, --generate_sidx_in_media_segments has to be disabled.

I think we should split it into two: OnNewSegmentStart() and OnNewSegmentComplete(). OnNewSegmentStart() should be called when the first chunk is ready and OnNewSegmentComplete() should be called after all chunks are ready.

An expected segment duration should be provided in OnNewSegmentStart(), which should

[2020-02-10 23:59] jbree commented on #675
Perhaps not a requirement, but I think the path of least resistance might be to create a static live MPD. The ULL examples I have seen use this method. Given a static live MPD with properly created fixed duration segments, we don't need to worry about updating the MPD at segment start with the expected segment duration.

Even with a constant GOP duration, I have found that my first segment is alwa

[2020-02-11 01:07] kqyang commented on #675
I see. I agree with your assessment. There are less uncertainty regarding player handling on the latest segment duration.

You are welcomed to tackle #554 first which I don't think it it difficult to address. Let me know if you need pointers. OTOH, I do like to see low latency to be supported regardless of whether SegmentTemplate duration is used.

Frankly I don't know. Do you know of any player t

[2020-02-11 05:16] kqyang opened #710 "Support protection patterns other than 1:9 for pattern encryption schemes"
Right now protection pattern is hard-coded to 1:9. CENC spec allows other protection patterns.

It is mentioned explicitly in [AV1 spec](https://aomediacodec.github.io/av1-isobmff/#CommonEncryption) that the below specified patterns are allowed:

- crypt_byte_block = 1 and skip_byte_block = 9,
- crypt_byte_block = 5 and skip_byte_block = 5,
- crypt_byte_block = 10 and skip_byte_block = 0.

We need

[2020-02-11 06:32] kqyang opened #711 "Android MediaExtractor does not return correct frame-rate for content packaged by Shaka Packager v2.0.0 or after"
Received an internal report on the issue:

We analysed the MP4 files.

In the picture attached,
![image002](https://user-images.githubusercontent.com/7329892/74215244-4910f280-4c55-11ea-936d-8026260e3bc6.jpg)

Left hand side contains MP4 data for the content generated with older shaka packager. This works. For this content, MediaFormat returned by mediaExtractor.getTrackFormat contains valid value

[2020-02-11 06:34] kqyang commented on #711
It turns out that Android MediaExtractor implicitly assumes that `mvex` is before `trak`, which is no longer the case for content packaged by Shaka Packager v2.0.0 or after.

[2020-02-11 22:13] #686 closed

[2020-02-11 22:19] #698 closed

[2020-02-14 17:03] runetorgersen commented on #700
After doing some comparisons with a in-house TS stream parser, the issue is that the shaka packager is dropping the last TS frame of the video.

Example is the file cbs_lo.ts.
The first sample in 1.m4s output file is 91 bytes short.
That is the 91 bytes in the last ts frame of the first full I-frame in cbs_lo.ts.
the last frame is at byte offset 123328. This is a front padded frame. The padding is

[2020-02-14 18:48] Canta opened #712 "Problem regarding $Time$ value for chunk naming"
## System info
**Operating System**: CentOS Linux release 7.7.1908 (Core)
**Shaka Packager Version**: 888be2d1ee7e3978e6173a8f9577931725d5861c

## Issue and steps to reproduce the problem

**Packager Command**:
[code]

**Extra steps to reproduce the problem?**
Feed packager with something like this:
[code]

**What is the expected result?**
Continuous incremental numeric chunk names.

**What happen

[2020-02-14 19:49] kqyang commented on #712
No. Having a duration of 2^64-1 is expected for TS as `--dump_stream_info` parses only stream header and TS files do not contain media duration in the metadata.

I don't understand the problem here as the sequence looks correct to me. Can you clarify?

[2020-02-14 19:54] kqyang commented on #700
@runetorgersen Thanks for the investigation. Are you seeing the same problem if you generate VOD playlist?

[2020-02-14 20:12] runetorgersen commented on #700
Yes, I see the same issue with VOD playlist. Also get the same issue regardless of if output is TS or fMP4 files.

From: Kongqun Yang <notifications@github.com>
Sent: Friday, February 14, 2020 13:55
To: google/shaka-packager <shaka-packager@noreply.github.com>
Cc: Rune Torgersen <runet@innovsys.com>; Mention <mention@noreply.github.com>
Subject: Re: [google/shaka-packager] Packager output video ha

[2020-02-14 20:20] kqyang commented on #700
If you can ffprobe on the output, does it give you the correct number of frames:

❯ ffprobe -v error -count_frames -select_streams v:0 -show_entries stream=nb_read_frames -of default=nokey=1:noprint_wrappers=1 <file>

[2020-02-14 20:28] Canta commented on #712
I don't know if by "TS" you mean the `.ts` chunking format or the MPEGTS spec. So please note this are fMP4 chunks.

Other than that, how could that detected duration be reaching that limit?
I ask this because my primary suspect are my own time offsets put with ffmpeg. But I also don't find those offsets wrong.

The problem arises at the fourth chunk in the quote. Here's the order of magnitude cha

[2020-02-14 21:18] runetorgersen commented on #700
I think so, but it does give a ton of errors parsing the output file(s) (when packaged as TS files, not sure how to use ffprobe on fragmented mp4 files).

ffprobe -v error -count_frames -select_streams v:0 -show_entries stream=nb_read_frames -of default=nokey=1:noprint_wrappers=1 1.ts
[h264 @ 0x1af0160] error while decoding MB 75 44, bytestream -31
[h264 @ 0x1af0160] error while decoding MB 72 44,

[2020-02-14 21:22] kqyang commented on #712
You are actually outputting mpegts trunks: `-f mpegts`.

We use that 2^64-1 internally to indicate "unknown duration". The stream duration is also for informational purpose only. It is not used anywhere.

I see. I suspect it comes from the input. What is the input to ffmpeg: udp://host:port?fifo_size=1000000&overrun_nonfatal=1&timeout=2000000? Can you use ffprobe or ffmpeg to dump the timestamp fr

[2020-02-14 21:22] kqyang commented on #712
Also, are you seeing any error or warning message in packager output?

[2020-02-14 22:56] Canta commented on #712
Oh, then my intuition about it was wrong. I'll change the name of the issue.

That could be a problem. This are production streams sadly, and thus can't stop them for probing. Also, for the same very reason, I redacted the actual ffmpeg command leaving only the information I thought to be most significant for the issue. Here are some redacted details:
  * Our actual input is RTMP, not UDP. That im

[2020-02-14 23:01] Canta commented on #712
I didn't saw any warning regarding this. I don't have the logs right now, but I believe the only warning was the common one about the distance of ~3000 ms between audio and video.

[2020-02-14 23:17] kqyang commented on #712
Can you re-produce the problem easily?

If so, can you enable verbose logging: --v=4?

[2020-02-14 23:25] Canta commented on #712
I can't, sorry.
I mean, it IS easy: I just let the stream packaging. But can't do that with production streams, and also can't let verbose loglevel there.

I'll take a look at some secondary servers, and see that I can do. Yet, I'll be able to do this by monday.

[2020-02-16 21:55] Canta commented on #712
I've tried to replicate this at home, without success. Yet, I'll like to share my output with you. Please take a look at this quick and dirty script:

[code]

With that, I get this output:
[code]

As you can see, between `round 1` and `round 2`, there is continuity, even when there's a gap. That's my intendend behaviour, wich I got working by tweaking the PTS offsets. I believe this also indicates

[2020-02-17 14:54] vengateshvengi opened #714 "AES-128 Encryption support"
Is there any support for aes-128 encryption in shaka packager.
I am looking for hls live streaming with DRM support(widevine).but,the shaka packager used sample-aes algorithm.So,tell me whether any other option there for AES-128 encryption.

[2020-02-17 17:54] Canta commented on #712
@kqyang ,
I've been running some more tests, and have weird data. Here's a file with some scripts and logs: https://cs1.ssltrust.me/s/qS73pDshe2nQeSE/download

The first script, `test_712.sh`, runs a replicable ffmpeg instance with selected timings for TS offset, and a shaka packager instance to package that, for 30 seconds. It then prints the output, and closes everyting. It's used by changing th

[2020-02-17 21:47] kqyang commented on #714
No. We do not support AES-128 for HLS.

Widevine HLS uses SAMPLE-AES. Here is an introduction article: https://medium.com/@takusemba/hls-with-widevine-for-android-de3f41027ed2.

Let us know if you have more questions.

[2020-02-18 04:57] vengateshvengi commented on #714
There is any option to implement samples-aes-ctr method in shaka packager

[2020-02-18 18:48] kqyang commented on #714
The encryption method is determined by protection_scheme (`--protection_scheme`): https://google.github.io/shaka-packager/html/tutorials/drm.html#general-encryption-options.

If `--protection_scheme` is `cenc`, SAMPLE-AES-CTR is used; otherwise if `--protection_scheme` is `cbcs`, SAMPLE-AES is used. `cenc`, i.e. SAMPLE-AES-CTR is the default.

[2020-02-18 20:12] kqyang commented on #712
@Canta Thanks for the scripts and logs, but I am not able to see the timestamp wrapping around in the logs.

As for the weirdness you observed, it can be explained. This is because MPEG-2 TS uses 33 bit for the timestamps, so it always wraps around from about (1<<33) to 0. The offset you provided 17001103090 is equivalent to providing an offset of 17001103090 - (1 << 33), i.e. 8411168498.

So the

[2020-02-18 21:10] Canta commented on #712
Oh, i see.

So, the situation is:
  * MPEGTS wraps the TS offset, by standard.
  * Shaka Packager doesn't overflow the `$Time$` value, but it gets wrapped on restart by MPEGTS, and that's why my TS offset is not working for this.

I wonder what could I possibly do to get that incremental chunk numbering... this looks like the end of the road for what I'm doing. I could modify shaka packager to, le

[2020-02-18 21:29] kqyang commented on #712
That is exactly right. You are welcome!

I am closing this issue then. Feel free to open another feature request or simply reply to this issue if you have an idea you'd like to pursue!

[2020-02-18 21:29] #712 closed

[2020-02-19 05:21] vengateshvengi commented on #714
ya correct.But I want SAMPLE-AES-CTR  encryption method for live hls packaging.it's not working.
my running command:
packager-linux 'in=udp://192.168.20.3:50003,stream=audio,init_segment=/etc/ec/feed_path/test.com/mbcn/master/DEMO/audio_init.mp4,segment_template=/etc/ec/feed_path/test.com/mbcn/master/DEMO/audio_$Number$.m4s,playlist_name=audio.m3u8,hls_group_id=audio,hls_name=ENGLISH' 'in=udp://19

[2020-02-19 19:25] kqyang commented on #714
@vengateshvengi That looks correct to me. What problem are you seeing?

[2020-02-20 04:19] vengateshvengi commented on #714
ya But sometimes,it shows sample-aes encryption and sometimes sample-aes-ctr.That's why i am asking.I have seen your source code,you have aes-128 encryption method.then why its not supported .

[2020-02-20 10:46] vengateshvengi commented on #714
Do you have any idea about video scrambling process?

[2020-02-20 19:54] kqyang commented on #714
Do you have a repro case on sample-aes?

It is a legacy format which we do not recommend. It is indeed supported in our HLS generator but we do not support encrypting content with AES-128.

[2020-02-21 04:41] vengateshvengi commented on #714
But i had changed the source code to force the encryption method as aes128 with widevine DRM.It is encrypted and m3u8 shows the key method as AES-128.It was decrypted and played well in exoplayer.
Is it correctly encrypted or not  ?

[2020-02-21 11:53] r0bust-one opened #715 "Disable a segment timeline for continuous streaming"
## System info
**Operating System**: Windows 10 Enterprise 1909 (build 18363.657)
**Browser**: Google Chrome Version 79.0.3945.130 (Official Build) (64-bit)
**FFMPEG Version**:  git-2020-01-31-62d92a8 (Build: ffmpeg-20200131-62d92a8-win64-static)
**Shaka Packager Version**: version v2.4.1-c731217607-release (packager-win.exe)
**Shaka Player Version**: version v2.5.9 (shaka-player.compiled.js, [CDN

[2020-02-21 20:24] kqyang commented on #714
@vengateshvengi I don't think so unless you modified the encryption logic too. I am really surprised that it works in exoplayer.

[2020-02-21 22:53] kqyang commented on #715
@r0bust-one Are you trying to turn a set of mp4 files to repeated live streams? @joeyparrish Is it something [Shaka Streamer](https://github.com/google/shaka-streamer) supports?

[2020-02-21 23:09] joeyparrish commented on #715
The issue with playback going funny seems to me to be caused by starting and stopping ffmpeg.  Each time it starts, timestamps begin again at 0, I suspect.  If you want a long-lived stream, you need a long-lived instance of ffmpeg.

For this, I see a couple of options:
  1. If your set of MP4s is finite and known in advance, I would suggest you build a single MP4 with all of their contents, and fe

[2020-02-22 04:29] vengateshvengi commented on #714
Ya,Its playing good in exoplayer.
Is there any way to validate encryption logic working correct?

[2020-02-22 06:23] vengateshvengi commented on #714
I am using widevine DRM with aes-128 encryption.whether it may be reason for playing in exoplayer

[2020-02-22 22:02] r0bust-one commented on #715
@kqyang, @joeyparrish Hi guys! Thank you for your replies!
My set of MP4 files is **not** finite and is **not** known in advance, it's dynamically generated by another process.

@kqyang I don't try to create a repeated stream, but rather be able to re-stream some mp4 file multiple times (not even sequentially) when it's necessary.

@joeyparrish You are right in your second suggestion, that's what

[2020-02-23 14:47] r0bust-one commented on #715
I've just tested the suggestion above and it worked, `-fflags +genpts` and `pipe:` helped me, thank you!
The only question left is this one:

[2020-02-23 16:20] joeyparrish commented on #715
Why does it matter to have timestamps in situations when we explicitly define segmentation with constant duration? The segment number is always increasing (as Shaka Player requires according to its docs), the manifest updates provide necessary info about playback... why don't just take that segment and play... (actually, dash.js does exactly that atm).

The timestamps that ffmpeg outputs in the TS

[2020-02-23 17:11] r0bust-one commented on #715
@joeyparrish Ok, thank you very much for these clarifications!

One more question has just appeared: could you please point me out how to set up more that one adaptation set in the output manifest for Shaka Packager?
I have three streams muxed with one codec, and one stream muxed with another codec, so four streams and two codecs in summary.
Currently, Shaka Packager simply ignores that fourth str

[2020-02-23 22:51] kqyang commented on #715
@r0bust-one You can index stream by stream number, e.g. if there are four different streams in the input, you can use "in=udp://127.0.0.1:40000,stream=**k**,init_segment=..." with k being 0..3 to select kth stream in the input. Shaka Packager generates multiple adaptation sets automatically if the streams cannot adapt to each other.

[2020-02-23 22:53] kqyang commented on #714
@vengateshvengi Can you share your modifications and the stream you generated?

[2020-02-26 06:37] vengateshvengi commented on #714
I had changed the encryption method as kaes128  in Encryptionparams class.

[2020-02-26 10:51] r0bust-one commented on #715
@kqyang Thanks for the reply!
Also, could you please tell me: what are the ways to set ISO BMFF input for Shaka Packager **in case of streaming**? What I mean is that. Even though MPEG2TS container can carry on streams of many types, there are cases when ISO BMFF is the only way to go (my case). I know that it can't be streamed in a simple way, but... maybe there are some workarounds, like pipes,

[2020-02-26 16:34] bcoudurier opened #716 "Compilation issue on macOS Catalina"
## System info
**Operating System**: macOS Catalina 10.15.3
**Shaka Packager Version**: 1ca873f453c67c2e554a6a582eee6bdb57de1697

## Issue and steps to reproduce the problem

**Packager Command**:
ninja -C out/release

ninja: Entering directory `out/Release'
[486/1649] OBJCXX obj/base/message_loop/base.message_pump_mac.o
FAILED: obj/base/message_loop/base.message_pump_mac.o
../../packager/third_pa

[2020-02-26 18:00] joeyparrish commented on #715
Shaka Streamer uses fragmented MP4 exclusively in its internal pipelines.  So all input to Shaka Packager from Shaka Streamer is now in MP4.

There's nothing special you need to do from Shaka Packager's perspective.  To generate fragmented MP4 that can be piped into Packager via named pipe or UDP, you need the following options in ffmpeg:

https://github.com/google/shaka-streamer/blob/609dd4b30b83

[2020-02-26 18:49] kqyang commented on #716
@bcoudurier Unfortunately, that is a known problem: #660. You can workaround the problem by switching to 10.14 SDK. See https://github.com/google/shaka-packager/issues/660#issuecomment-552576341.

Mark it as a duplicate of #660.

[2020-02-26 18:49] #716 closed

[2020-02-26 21:48] r0bust-one commented on #715
@joeyparrish Hi!
I've tried that previously, and I've just tested this again - an error occurred.
The command that starts Shaka Packager:
[code]
The ffmpeg command for delivering mp4 to the packager:
[code]
Shaka Packager output, including error:
[code]
How it all behaves: ffmpeg **sequentially** writes the entire mp4 file (20 seconds long) into UDP, **and only then** Shaka Packager consumes that

[2020-02-26 22:09] kqyang commented on #715
For pipe, it does not matter, but for udp, you'll need to start packager first to avoid missing the init segment. Also, you need to use `+faststart+frag_keyframe+empty_moov`.

@r0bust-one Did you start packager or ffmpeg first?

[2020-02-26 22:29] joeyparrish commented on #715
@kqyang, we used to use `+faststart+frag_keyframe+empty_moov`, but the `+empty_moov` caused issues with Packager and AV1.  Removing `+empty_moov` seems to be necessary in some cases.

[2020-02-26 22:31] r0bust-one commented on #715
I started Shaka Packager first, then started ffmpeg

[2020-02-26 22:33] kqyang commented on #715
@joeyparrish Interesting. I tried ffmpeg command with audio output, `moof` is only generated if `empty_moov` is included in the option. I'll confirm later.

[2020-02-26 22:55] kqyang commented on #715
@r0bust-one For audio, you'll need to set fragment duration explicitly, e.g. `-frag_duration=3` as every audio frame is a key frame so it does not fragment at key frame automatically.

@joeyparrish You are right that `empty_moov` is not needed. It did not generate `moof` because without `-frag_duration`, ffmpeg puts everything in the first segment, i.e. in `moov` when `empty_moov` is not specified

[2020-02-26 23:15] jingke2000 opened #717 "playback issue of HEVC content with CENC cbcs encryption in AVplayer"
## System info
**Operating System**: macOS High Sierra, V10.13.4
**Shaka Packager Version**: version v2.3.0-5bf8ad5-release
**playback device**: iPad with iOS 13.3.1

## Issue and steps to reproduce the problem
We have 4K video conent encoded in HEVC packaged in HLS fmp4. The playback from the AVplayer in an iPad with iOS 13.3.1 is fine. However, after CENC cbcs encryption, the playback shows macr

[2020-02-26 23:18] r0bust-one commented on #715
@kqyang ,

[code]

1) by using `--fragment-duration 5` on Shaka Packager side only - occurs error above, and packager waits whole file.

2) by using `-frag_duration 5` on ffmpeg side only - occurs same error above, but in that case packager reacts immediately.

3) using flags on both sides at the same time ( case 1) and case 2) ) get the same error immediately..

[2020-02-26 23:43] kqyang commented on #715
@r0bust-one Is the error `NOT IMPLEMENTEDBox 'moov' run to EOS.` in `moov` or another box?

[2020-02-26 23:58] r0bust-one commented on #715
@kqyang I don't know, I receive this error from packager right after I start the ffmpeg process (by command described in prev message), it happens immediately. Then packager crashes and exits, and ffmpeg goes further sending file to UDP.
If there is any way to determine what you ask about (regarding the moov or another box), please tell me how to do that, and I'll bring you all the necessary info.

[2020-02-27 00:02] kqyang commented on #715
@r0bust-one What is the exact error message from packager output? Is the text after "Box" `moov`? I tried just now but wasn't able to re-produce your problem though.

Also, what is the total duration of your input content?

Anyway, here is the script I used:

[code]

[code]

[2020-02-27 00:15] r0bust-one commented on #715
@kqyang
This is the exact output just copied from the terminal:
[code]
So, `NOT IMPLEMENTEDBox 'moov' run to EOS.` it's how it exaclty outputted in the terminal.

 Duration: 00:00:20.02, start: 0.000000, bitrate: 2194 kb/s

[2020-02-27 00:42] kqyang commented on #715
@r0bust-one Can you share your content? I'll try if I can re-produce with it.

[2020-02-27 00:44] r0bust-one commented on #715
@kqyang,
 https://we.tl/t-erjlYUPF5m

[2020-02-27 13:31] salmoro opened #718 "Is it possible to decrypt HLS/Fairplay (non single-file)?"
## System info
**Operating System**: WIndows 10
**Shaka Packager Version**: 2.4.1

## Issue and steps to reproduce the problem

This is more of a question than a bug report.

I'd like to know if it is possible to decrypt Fairaply HLS content which wasn't packaged as a single file.

I can successfully decrypt Wdievine/Webm but with FairPlay HLS I get `Could not find 'moov' box in file` when trying

[2020-02-27 17:27] night91 opened #719 "Is it possible to add a new caption/audio without repackage everything?"
Hello Shaka team,

I wonder if is posible to add a new caption or audio (probably a new language) without having to repackage again everything in order to save space. This means you have the manifest with segments, but not longer the base files, you get a new caption and the manifest is refreshed with this new caption. So you would not need to have all different video bitrates stored always (or ha

[2020-02-27 18:22] kqyang commented on #718
@salmoro Multi-files decrypt is not supported right now. You can concatenate the files before passing it to packager.

In Linux, you can simply use `cat` to concatenate the files.

Does that answer your question?

[2020-02-27 18:25] kqyang commented on #719
@night91 For VOD, yes, you can use mpd_generator. See examples here: https://github.com/google/shaka-packager/issues/709#issuecomment-583972746.

Does that work for you?

[2020-02-27 18:31] kqyang commented on #715
@r0bust-one Yes, I was able to re-produce the problem. I think it is a bug in FFmpeg, which generates unbounded `moov` box when there are multiple audio streams in the output.

You can workaround it by mapping different audio streams to different endpoints. Here is an example command that maps the first audio stream only. You can adapt it to support multiple outputs.

[code]

[2020-02-27 19:12] night91 commented on #719
@kqyang  I see this, you can generate the "data" for each stream and combine them. Then if a new one is coming, you just add it to the mpd_generator? Does this works also with HLS?

I see it does not work with with segment_template. Although I am interested in VOD. Will it be able to download the video in fragments, when using shaka player?

[code]

I am getting something weird. After get the vide

[2020-02-27 19:19] kqyang commented on #719
@night91

Correct.

No. It does not work with HLS right now.

Yes.

Can you share the mpd? It looks like url problems to me? Did you generate the mpd and then copy the mpd to the web directory only?

[2020-02-27 20:24] night91 commented on #719
@kqyang
The the 2 files are in the same directory, all_streams.mpd and video.mp4.

Still do not understand why using the webserver i can download correctly the base v.mp4, but can't  download(video.mp4) the one generated after the next code. It ways in the network tab from Chome, cancelled.

[code]

[code]

[2020-02-27 22:20] kqyang commented on #719
@night91 It looks correct to me. Could it be a problem in your web server configuration? Does the mpd work if you generate it directly with `packager` (without going through `mpd_generator`)?

[2020-02-27 22:27] r0bust-one commented on #715
@kqyang  Thank you! Previously I tried to do so but had no success, however, now the `frag_duration` did the trick, and it works. My problem is almost finished.
Could you please help me with the following:
Packager runs with this command
[code]
Then, ffmpeg process starts, which reads mp4 data from stdin and sends it to packager (the idea is to read the input forever along with generation of new t

[2020-02-27 22:47] kqyang commented on #715
@r0bust-one I am afraid that you cannot pipe two mp4 files - there are a number of problems:

- Every new mp4 file introduces a new `moov`, which may not match with the others
- At the end of a mp4 file, `FFmpeg` ends it with unbounded `mfra` box which runs to the end of file, so the parser/packager won't be able to recognize the data after it.

Is there any reason that you don't want to use MPEG2

[2020-02-27 22:49] r0bust-one commented on #715
@kqyang

I would like to use it so much (because this overall process perfectly works with it), but MPEG2-TS can't carry on lossless codecs, like flac

[2020-02-27 23:35] r0bust-one commented on #715
@kqyang Anyway, thank you for your help!

Regarding ffmpeg, could you please tell me:
If we step away from mp4 for a while - do you know some way to constantly generate new timestamps for incoming data? (like `stream_loop` or `concat` do, but for dynamic input, like pipe)
Or to avoid such kind of problems, when the next file comes after previous one:
[code]
I thought the `-fflags +genpts` does tha

[2020-02-27 23:39] kqyang commented on #715
@r0bust-one Unfortunately I don't have experience with this. Does it work for MPEG2-TS?

@joeyparrish may be able to help.

[2020-02-27 23:44] r0bust-one commented on #715
@kqyang

Yes, works perfectly

[2020-02-28 00:19] night91 commented on #719
@kqyang Yes, I am using the Docker release. With the next one, I can see my video normally in shaka player.

[code]

[2020-02-28 00:22] night91 commented on #719
@kqyang is weird, look and the video.mp4 info (the one that dont download)

[code]

[2020-02-28 00:35] night91 commented on #719
@kqyang what I want to achieve(for VOD). Generate  a streaming with ex: 5 adaptive bitrates, 1 audio output and 1 caption. But adding a new audio or caption, is expensive as I have to have all the transcoded files + the files associated to the dash package

[2020-02-28 00:40] joeyparrish commented on #715
Sorry, `-fflags +genpts` is all I know off-hand.  I tend to spend a lot time searching the full ffmpeg docs (https://ffmpeg.org/ffmpeg-all.html) whenever I need to figure out something new.  It's not fun, and this is one the main reasons we created Shaka Streamer, so that we could formalize the things that work well and stop having to type so many arcane ffmpeg parameters.

I'm not sure if Shaka S

[2020-02-28 00:49] kqyang commented on #719
That is expected for fragmented mp4. You should see something similar in the stream generated directly by packager too.

[2020-02-28 00:53] #710 closed

[2020-02-28 01:23] night91 commented on #719
@kqyang it was the web server. I was using `ruby -run -e httpd . -p 8080` to serve static content (the html  + js was hosting the shaka player). but the python server make it run fine `python3 -m http.server`.

Any guess to do similar as mpd_generator for HLS, but dash probably won't be enough for IOS. Any proven IOS player that support dash?

[2020-02-28 01:35] kqyang commented on #719
@night91

Feel free to file a feature request for HLS support.

We had a plan to support HLS, but we don't have resource to work on that right now. If you are interested in helping us implement it, I'll be happy to provide pointers.

I think [Shaka Player](https://github.com/google/shaka-player) supports dash in iOS for non DRM contents. @joeyparrish Correct me if I am wrong.

[2020-02-28 02:13] #711 closed

[2020-02-28 09:06] salmoro commented on #718
@kqyang Yes! that works perfectly.
Thank you very much.

[2020-02-28 09:06] #718 closed

[2020-02-28 22:59] night91 opened #720 "Update latest Docker image"
Currently https://hub.docker.com/r/google/shaka-packager is at 2.3.0. Could be good to upload the latest release at 2.4.1.

[2020-02-29 00:14] kqyang commented on #720
Ahh, the docker hub auto build has stopped working. I'll see if we can bring it back.

[2020-02-29 17:05] night91 commented on #719
@kqyang following with mpd_generator limitations,  there wont be a way to pachage several audio and subtitles  as just generate al most 3 adaptation sets (video, audio, captions)?

[2020-02-29 23:33] joeyparrish commented on #719
Sorry, it's not that simple.  Shaka Player can only support DASH on platforms with MediaSource Extensions.  That is true of iOS 13+ on iPad only, but not any other iOS version or device.  On iPhone or iPod or iOS < 13, we can only use Apple's native HLS implementation.

But we do delegate to native HLS on iOS browsers as a convenience feature.

[2020-03-02 00:46] kqyang commented on #719
@joeyparrish I see. Thanks!

@night91

There is no such limitation. You can package multiple audio and subtitles. Packager will create additional adaptation sets as needed. For example, if you add two audio with different codecs, two audio adaptation sets are created; otherwise if the two audio are using the same codec, only one audio adaptation set is created.

[2020-03-02 23:57] night91 opened #722 "Package DASH and HLS subtitles."
Trying to package with 1 instruction video, audio and  captions.

If using the next instruction I am getting
`[0302/212650:ERROR:packager_main.cc(525)] Failed to initialize packager: 3 (INVALID_ARGUMENT): Cannot create text output for MPD with segment output.`

[code]

Then if removing the segments, I am getting.
`[0302/212744:ERROR:packager_main.cc(525)] Failed to initialize packager: 3 (INVALID_

[2020-03-03 00:35] kqyang commented on #722
[0302/212650:ERROR:packager_main.cc(525)] Failed to initialize packager: 3 (INVALID_ARGUMENT): Cannot create text output for MPD with segment output.

This is because DASH does not allow segmented WebVTT.

[0302/212744:ERROR:packager_main.cc(525)] Failed to initialize packager: 3 (INVALID_ARGUMENT): segment_template needs to be specified for HLS text output. Single file output is not supported yet

[2020-03-03 00:35] #722 closed

[2020-03-03 09:50] weiyuefei commented on #658
@jakubvojacek hi, did you solve this issue? if you did, could you share your solution to this issue? Since we also meet this issue in our project, hope that get some help from you, thanks.

[2020-03-03 11:18] jakubvojacek commented on #658
No, it seems to be caused by either insufficient network or write speed to the storage.

[2020-03-04 12:41] Virender-Dangi opened #723 "Question - How i can create a hls stream with Sample-Aes encryption with multiple ts segments and seperate key for a group of segments."
## System info
I am ok with any system. Linux or windows

## Things i tried
I tried this command but this gives me single key for all commands
 packager-win.exe in=test.mp4,stream=video,segment_template=output/$Number$.ts,playlist_name=output/main.m3u8,iframe_playlist_name=output/iframe.m3u8,drm_label=SD  --hls_master_playlist_output test.m3u8  --enable_raw_key_encryption --keys label=SD:key_id=f3

[2020-03-04 23:42] kqyang commented on #723
@Virender-Dangi This is basically key rotation. Raw key rotation is not supported right now. We do support key rotation using [Widevine DRM Common Encryption API](http://storage.cloud.google.com/wvdocs/Widevine_DRM_Encryption_API.pdf).

One option for you is to set up a common encryption server following Widevine DRM Common Encryption API. Does that work for you?

[2020-03-05 05:39] Virender-Dangi commented on #723
@kqyang - Thanks for your reply. I am new to this and trying to understand. Here is my requirement.
1. I want hls stream to play in Safari with some encryption.
 Currently we have a legacy system where we use apple media file segmentor with AES-128 encryption to generate the hls streams.
Since we want to do this in cloud we can't run the legacy system as per my understanding media file segmentor o

[2020-03-06 10:42] Virender-Dangi commented on #723
Can you give the command to run for this. Also where a can pass the Playready server url ?

[2020-03-06 18:19] #651 closed

[2020-03-06 18:39] ab5y opened #724 "Initial gclient sync on windows error"
## System info
**Operating System**: WIndows 10 Home
**Shaka Packager Version**: commit 055c67888b5e75b2c0bc88ac58da24e1aec86667

## Issue and steps to reproduce the problem
Followed the steps for building from release on Windows. Got the dependencies installed, ran the gclient config command and then ran the gclient sync command for the first time.

**Packager Command**: gclient sync

Extra steps

[2020-03-06 19:25] kqyang commented on #724
Do you have `python` installed? What happens if you try to run `python` in the command line?

[2020-03-06 20:58] jigneshdhruv opened #725 "Support splitting WebVTT text file at cue points"
Shaka Packager does not support splitting WebVTT text file right now at cue points.

We are trying to use dash ondemanad profile with shaka packager - multi-period. Shaka Packager created a multi-period dash manifest, however adapatationset for caption is only in period 1 and not subsequent periods. What we noticed on Roku is that while playing period 1, caption works, we are able to switch captio

[2020-03-06 22:38] kqyang commented on #723
You can checkout examples here: https://google.github.io/shaka-packager/html/tutorials/raw_key.html. The auto-generated PlayReady PSSH does not contain PlayReady server URL. You can provide your own PSSH in --pssh if you need PlayReady server url in the PSSH.

[2020-03-08 10:46] ab5y commented on #724
I have both python2 (2.7.17) and python3 (3.8.0) installed. The `python` command runs python2.

[2020-03-08 11:52] ab5y commented on #724
Found [this explanation of the error on S/O ](https://stackoverflow.com/questions/9531683/problems-using-subprocess-call-in-python-2-7-2-on-windows).
I added the `shell=True` argument to lines 36 and 45 of the `generate_version_string.py` file. It now works, but the version string it generates says "unknown-version". Would this cause an issue?

_Code modification_:
![image](https://user-images.git

[2020-03-09 05:39] Virender-Dangi commented on #723
Thanks @kqyang . I will try this.

[2020-03-09 05:39] #723 closed

[2020-03-09 16:27] brianfromoregon opened #727 "Using another key server?"
Hi

How can we determine which values to pass in for signer, aes_signing_key, and aes_signing_iv when using a key server that is not widevine-test? Do we make these, or does the provider provide? When I make them up, I get this error

`
[0309/092207:ERROR:http_key_fetcher.cc(234)] curl_easy_perform() failed: HTTP response code said error. Response code: 400.
[0309/092207:ERROR:packager_util.cc(107

[2020-03-09 19:31] kqyang commented on #727
@brianfromoregon It needs to be provided by your provider. It can be omitted if they don't have it.

Note that your provider needs to support Widevine encryption common encryption protocol: http://storage.cloud.google.com/wvdocs/Widevine_DRM_Encryption_API.pdf.

I am closing this issue, but feel free to reply if you have more questions.

[2020-03-09 19:31] #727 closed

[2020-03-09 19:39] kqyang commented on #724
@ab5y What happens if you run `git rev-parse --short HEAD` in command line?

[2020-03-10 00:57] #715 closed

[2020-03-10 08:41] ab5y commented on #724
The `git rev-parse --short HEAD` gave the following output:
`055c67888b`
I checked with the main repo and saw that my copy is behind. So I pulled the latest version. This time, with the above changes to the `generate_version_string.py` file, a version string does get printed. But without the changes, the `sync` command still throws the same error. Should I create a pull request?

[2020-03-10 17:15] kqyang commented on #724
@ab5y Yes, please.

[2020-03-11 04:56] ab5y commented on #724
Could you tell me on which branch to make the request on?

[2020-03-11 05:30] ab5y opened #729 "ninja build command failing"
## System info
**Operating System**: Windows 10 Home
**Shaka Packager Version**: commit a1dd82d

## Issue and steps to reproduce the problem
Follow all the steps for Windows OS given in the [build instructions](https://github.com/google/shaka-packager/blob/master/docs/source/build_instructions.md). The ninja build command fails with an obscure error.

**Packager Command**:
`ninja -C out/Release_x6

[2020-03-11 06:01] kqyang commented on #729
I believe it comes from Windows 10 SDK. Have you installed [Windows 10 SDK](https://github.com/google/shaka-packager/blob/master/docs/source/build_instructions.md#windows-system-requirements)?

[2020-03-11 06:20] ab5y commented on #729
@kqyang Yes, I remember installing as part of the VS2015 install. Upon checking my list of installed programs, I can see Windows SDK AddOn Version 10.1.0.0 is present.

[2020-03-11 18:28] kqyang commented on #729
You may need to have the same exact SDK version. Can you check if you can solve the problem with this: https://magpcss.org/ceforum/viewtopic.php?f=6&t=14281?

[2020-03-11 18:59] r0bust-one commented on #715
@kqyang @joeyparrish
Sorry for a late reply, I wasn't able to write.
I just want to say thank you guys for your help and support!
Definitely, I won't stop on this issue and will look for a solution. Thus, I would be glad to see you again in Shaka Streamer repo thread, soon)
As for this thread, let's consider it as closed/solved.

[2020-03-13 00:57] #719 closed

[2020-03-13 12:17] ab5y commented on #729
@kqyang Hey, I made a mistake in the earlier response. I had the correct version installed. I still got the 10.0.14393.795 from the microsoft site linked in the above page. It now prints a more verbose error I have saved in this [gist](https://gist.github.com/ab5y/18be00359047c5ec69f626ce08e94d92)

[2020-03-13 16:22] #724 closed

[2020-03-13 17:18] kqyang commented on #729
@ab5y The new error is because there are two different Windows SDK versions on the system:

c:\program files (x86)\windows kits\10\include\\**10.0.10240.0**\ucrt\corecrt.h(125): note: see declaration of '_CrtEnableIf<true,_Ty>'

I don't know how that happens, but uninstalling version 10.0.10240.0 or removing it from the include path may help.

[2020-03-14 08:27] ab5y commented on #729
@kqyang Umm, so I deleted the 10240 directory from the include  folder... and somehow the same errors persist?
They're also now becoming erratic. Some progress is being made as I see the overall number of items to be executed constantly reducing after every `ninja -C out/Release_x64` command. It executes about 10-15 things and then errors out. Stored the outputs [here](https://gist.github.com/ab5y

[2020-03-14 17:42] kqyang commented on #729
That is normal with ninja as it does not compile the modules in the same order when it is invoked. The problem occurs when compiling `obj\base\win\base.win_util.obj`.

From the log, the same problem still exists, the compile is still seeing two copies of SDKs.

[code]

Can you double check and make sure that 10240 has been removed?

Also, try removing `out/Release_x64` directory to force a clean c

[2020-03-14 20:04] ab5y commented on #729
Deleting the `out\Release_x64` directory did the trick!
Also, might not be the proper place to mention this, but the 64 bit build instructions for Windows need slight tweaking. `set` and `&&` are essentially missing. Can I make the changes?

[2020-03-14 20:42] hariszukanovic opened #731 "Segment template formatting to create efficient subfolders through time"
## Issue and steps to reproduce the problem
When packaging live stream continuously I get a large number of files in the same folder. I would like to avoid this for better file system performance.

## What is the expected result?
I would like to create a subfolder structure based on time through "segment template formatting" during the packaging process by using some datetime variable.
For example

[2020-03-14 23:53] kqyang commented on #729
@ab5y Glad to hear that.

Yes, go ahead and submit a PR to us if there is anything that can be improved. Appreciated!

[2020-03-15 00:05] kqyang commented on #731
@hariszukanovic Do you want to allow the player to seek back, e.g. by more than a day? If not, you can use `--time_shift_buffer_depth` to limit the buffer depth and Shaka Packager can remove old segments automatically.

As for the feature request itself, it can work for HLS as HLS playlists do not have the concept of segment template and packaging code can replace the time indicator in the templat

[2020-03-16 09:56] hariszukanovic commented on #731
Thank you for advice.

For HLS, I suppose this could easily could be supported.
I do understand the Dash manifest SegmentTemplate (due to concept) could never support this kind of manipulation with path...
SegmentList could support it, but it is not supported/implemented in Shaka packager.

My concrete problem is that I must keep 7 days of chunks, each 1 second long = 604800 files in the same fold

[2020-03-16 16:45] ngbrown opened #732 "[DASH] Support TrickPlay using separate trick play specific streams"
## System info
**Operating System**: Windows 10 10.0.18362.657
**Shaka Packager Version**: v2.4.1-c731217607-release

## Issue and steps to reproduce the problem

**Packager Command**:

[code]

Extra steps to reproduce the problem?
1. Generate a separate trick play track instead of sharing with main video.  The main video has I-frames every 6 seconds, while the trick play track should be 1 fps wit

[2020-03-16 17:38] kqyang commented on #732
@ngbrown In our current design of DASH TrickPlay feature, we expect the same input to be used for normal video, i.e. we do not expect to see a specialized input for trick play only.

Is there a reason that you don't want to use the original input `480p.m4v`, `1080p.m4v` for trick play directly?

[2020-03-16 23:39] ngbrown commented on #732
I mentioned that my main video has I-frames every 6 seconds.  The standard convention seems to be not less than every 2 seconds.  There is obviously a bandwidth/quality trade-off with higher rates.

For the trick play, the Apple HLS authoring specification says the I-frames for trick play should be [1 fps, I-frame only](https://developer.apple.com/documentation/http_live_streaming/hls_authoring_sp

[2020-03-17 01:25] kqyang commented on #690
Addressed in https://github.com/google/shaka-packager/commit/b900565a0fc2e8abcf86688a3e0339b609a79f83.

[2020-03-17 01:25] #690 closed

[2020-03-17 01:46] kqyang commented on #732
Ah, sorry, I missed that in your original comment.

That is a case we do not support right now. I'll change it to an enhancement request. It is not too difficult to support though. What we can do is if https://github.com/google/shaka-packager/blob/master/packager/mpd/base/period.cc#L221 fails, we can cache the trick play adaptation sets and search again when new AdaptationSets comes in.

@sr1990 I

[2020-03-17 07:38] sr1990 commented on #732
Hey @kqyang, yes I would like to help. Let me try to reproduce the issue. @ngbrown Will it be possible to share the content?

[2020-03-18 01:00] ngbrown commented on #732
@sr1990 I tried to use a publicly available video, and it wasn't stopping on error, then I went back to the original video and my original scripts, and it doesn't stop on that one either, even repeatedly.  So definitely an intermittent problem.

The separate trick play adaptation set with the `<EssentialProperty/>` is still missing, so at least that is consistent.

Attached are the windows command

[2020-03-18 02:33] #542 closed

[2020-03-18 02:36] kqyang opened #733 "Refactor Period::ProtectedAdaptationSetMap and merge it into AdaptationSet"
The current logics in Period::ProtectedAdaptationSetMap should be moved into AdaptationSet class. This can help simplify the code.

[2020-03-18 02:39] kqyang commented on #542
Thanks @sr1990 for implementing the feature!

The PR in #726 takes a slightly different approach as in https://github.com/google/shaka-packager/issues/542#issuecomment-475746652. The step 1 (code refactoring of Period::ProtectedAdaptationSetMap and AdaptationSet) is moved to a separate issue #733 instead.

[2020-03-18 11:19] barbarosalp opened #734 "Playready CBC didn't work as expected"
## System info
**Operating System**: Windows 10 Build 18363
**Shaka Packager Version**: packager version c257113-release

## Issue and steps to reproduce the problem

Packager is run within docker container.

**Packager Command**:
[code]

What is the expected result?
It should have generated a pssh using wrmheader 4.3.0.0 with <ALGID>AESCBC</ALGID>.

What happens instead?
It generated a pssh using

[2020-03-18 11:54] barbarosalp commented on #734
Nevermind, I am using an old version of the packager.

[2020-03-18 11:54] #734 closed

[2020-03-18 12:08] barbarosalp opened #735 "How to package content with multiple key_ids in a pssh for PlayReady?"
I couldn't find a way to package content for PlayReady with multiple key_ids in a pssh that uses wrmheader 4.3.0.0. Could you guide me with any links or documentation? Thanks.

[2020-03-18 17:14] kqyang commented on #735
That is not supported right now.

We need help get this implemented. Here is what we need to do:

- Add an additional boolean flag on whether to generate playready pssh 4.0 or 4.3
- Return true or false depending on the flag and the protection scheme in PlayReadyPsshGenerator::SupportMultipleKeys: https://github.com/google/shaka-packager/blob/981515e6c851e39a62d25cc6b07f4d7e8806e681/packager/media

[2020-03-18 17:16] kqyang commented on #735
Link to PlayReady PSSH spec: https://docs.microsoft.com/en-us/playready/specifications/playready-header-specification

[2020-03-19 08:51] vladimir-kazakov commented on #735
Difficult to say. On one hand, PlayReady 1 clients are quite old and from the Smooth Streaming / pre-DASH era, so probably they're not relevant anymore (it's highly unlikely that somebody will be using Shaka Packager to create content for them). On the other hand, the 4.0 header is still very popular, even in the recently created content. I think there may be badly implemented clients that still e

[2020-03-19 10:31] termoose commented on #149
Would be great to have @amotl's contributions merged upstream. I added the possibility to set a custom User-Agent string to be used for HTTP PUT requests: https://github.com/termoose/shaka-packager/commit/439c30ed3c7f883ebbb1ac29df95fe1adc55d1c9

As for HTTPS it seems the code in your branch is mostly finished (the one that's commented out), just missing command line arguments for specifying certi

[2020-03-19 13:33] amotl commented on #149
Dear Ole Andre,

thanks for picking this up!

With kind regards,
Andreas.

[2020-03-19 17:45] kqyang commented on #149
@amotl @JuliusThms What is your plan on merging it upstream?

[2020-03-19 18:57] kqyang commented on #735
@vladimir-kazakov Thanks for the comment!

I'd like to understand a little bit more on the PlayReady practices as I know very little about it.

1. In the old days, when working with PlayReady 1 clients, are people always using the same content encryption key for different resolutions and also for audio and video, i.e. using a single CTR key for the content?

2. Can PlayReady 1 client support diffe

[2020-03-20 07:20] vladimir-kazakov commented on #735
Yes. In the past, nobody needed an improved security in the form of encrypting every stream differently. All streams in a content were encrypted using the same, single CTR key. I still see it as the most popular way to protect the content nowadays.

There was also a problem of not being able to request multiple keys in a single license request. PlayReady 1 and 2 clients support PlayReady headers t

[2020-03-20 08:44] sr1990 commented on #732
@ngbrown I was able to reproduce the issue. 1 fps stream with 1 trick play factor is not creating a separate trickplay adaptation set because in  TrickPlayHandler::OnMediaSample (https://github.com/google/shaka-packager/blob/9a3ea747a40991c1cfb85bd163693270fb7d41d5/packager/media/trick_play/trick_play_handler.cc#L136) playback rate is stored only when a frame which is not a trickplay frame is enco

[2020-03-20 10:14] termoose commented on #149
I added support for HTTPS, it has been successfully tested with Akamai MSL4 entry points on Widevine encrypted segments. Akamai does not require a specific client certificate so I don't have any available entry points to test that feature against. The code is the one that @amotl already added from `playready_key_encryption_flags.cc` with pretty much no modifications.

I opted out of fetching `FLAG

[2020-03-20 16:39] amotl commented on #149
Dear Ole Andre,

Thank you so much!

Done with 8ddbbf08. Thanks.

Please go ahead! Thanks again for your efforts adding HTTPS support and thanks in advance for bringing this upstream!

With kind regards,
Andreas.

[2020-03-20 19:52] ngbrown commented on #732
I couldn't find any information on what `trick_play_factor` really meant, and what a value besides `1` would mean.  If it is set to `2` what does that do?

[2020-03-20 21:41] kqyang commented on #732
@sr1990 Thanks for looking into the problem. Yes, you are right. I think we can fix it by moving the setting of playback_rate to TrickPlayHandler::OnTrickFrame:

[code]

@ngbrown It is explained here: https://google.github.io/shaka-packager/html/documentation.html#stream-descriptors. It is the frame sampling rate. 2 means that every one of two key frames goes into the output.

[2020-03-21 01:52] kqyang commented on #720
This is now fixed!

(We are still not able to bring back DockerHub auto-build, but we have created a local script to push images to DockerHub)

[2020-03-21 01:52] #720 closed

[2020-03-24 15:14] termoose commented on #149
I cherry-picked it in, great!

There is another thing I'd like to add before publishing the PR, the ability to have multiple outputs (primary/backup) defined, with either a comma separated list or a new command line flag for `--mpd_output_backup` or something similar. Will try to implement this and run some tests.

[2020-03-24 16:23] kqyang commented on #149
@termoose Thanks for working on it! I'll prefer keeping the PR focusing on a single feature. It will also be easier for discussion and code review :). For multiple outputs (primary/backup), can you file a separate issue and a separate PR instead?

[2020-03-24 19:15] #732 closed

[2020-03-24 19:16] kqyang commented on #732
@ngbrown Thanks to @sr1990's help, this is now fixed. Let us know if you are still seeing problems.

[2020-03-25 03:47] sridhard opened #738 "Shaka-packager live packaging fails"
## System info
**Operating System**: <e.g. macOS Sierra, Ubuntu 14.04 trusty etc>
Ubuntu 16

**Shaka Packager Version**: <e.g. v1.6.1, commit SHA etc>
packager version v2.4.1-c731217-release

## Issue and steps to reproduce the problem

**Packager Command**:packager   'in=udp://127.0.0.1:40001,stream=audio,init_segment=audio_init.mp4,segment_template=audio_$Number$.m4s'   'in=udp://127.0.0.1:40002

[2020-03-25 04:14] kqyang commented on #738
We try to recover from recoverable errors, but the problem you are seeing is not recoverable.

Can you re-produce the problem? Can you share the re-pro instructions?

[2020-03-25 08:53] termoose commented on #149
For sure, will make that a separate PR! As for the Google CLA, I'm still waiting for our legal department, should be solved shortly

[2020-03-26 18:16] donghaima opened #741 "v2.4.1 chunking behavior has changed from v1.6.2"
## System info
**Operating System**: <e.g. macOS Sierra, Ubuntu 14.04 trusty etc>
macOS Catalina, Debian 4.9.189

**Shaka Packager Version**: <e.g. v1.6.1, commit SHA etc>
v2.4.1

## Issue and steps to reproduce the problem
We have been using the v1.6.2 Shaka Packager to transmux a TS segment to a fMP4 fragment, like this:
[code]
The TS segment is ~4 seconds. The packager generates one output frag

[2020-03-27 06:16] #708 closed

[2020-03-27 06:32] kqyang commented on #741
@donghaima In v1.6.2, when generating segments/chunks, we make sure the duration of the generated segments are always more than the specified segment duration. There is a problem with this approach for live streams as it leads to mis-aligned segments in different resolutions.

In v2.4, we use consistent chunking algorithm to address the problem: we always create segments/chunks at the first key fr

[2020-03-27 14:02] donghaima commented on #741
Thanks @kqyang for your quick reply!

Yes I am interested in working on a fix but I will need to get my dev environment up and running first. I have had troubles with my macOS dev environment setup. The Docker build also is not working for me at the moment.

Another issue I observed is that the v2.4.1 packager may chunk audio and video segments differently given a muxed TS input file.  I am attach

[2020-03-27 19:42] kqyang commented on #741
@donghaima

Great. Let us know what problems you are seeing. We can help you address that.

What is the difference you are observing? Note that you want to have perfectly aligned audio and video segments, you need to have a matching audio sampling rate and video GoP. See the comments https://github.com/google/shaka-packager/issues/330#issuecomment-367891229 and https://github.com/google/shaka-pack

[2020-04-01 08:33] komar007 opened #742 "insufficient segment references when used with ad_cues"
## System info
**Operating System**: docker on gentoo
**Shaka Packager Version**: v2.4.2-c60e988afa-release

## Issue and steps to reproduce the problem

**Packager Command**:
[code]

**Extra steps to reproduce the problem?**
unpack attached zip file in ~/temp/ before running command

**What is the expected result?**
the AdaptationSet for audio in Period@id=0 contains segment references to both ge

[2020-04-01 17:15] karlg-arris commented on #735
@kqyang @vladimir-kazakov
As per Microsoft spec : https://docs.microsoft.com/en-us/playready/specifications/mpeg-dash-playready

It is possible to insert two content protection tags for PlayReady - one intended for legacy applications and the other for more standards compliant implementations

This could be leveraged to support insertion of version 4.0 and 4.3/4.2 PRO simultaneously

It should be

[2020-04-02 21:27] #738 closed

[2020-04-03 14:25] tim-lansen opened #743 "Feature Request: Include (legacy) <mspr:pro> element in DASH's <ContentProtection> for PlayReady"
## System info
**Operating System**: Any
**Shaka Packager Version**: Any

## Issue
No option to use `<mspr:pro>` element in DASH's `<ContentProtection>`.
It is important because many older SmartTVs fail to work properly with `<cenc:pssh>` when PlayReady DRM is used.

## Proposition
I propose to add `-mspro <base64 encoded PRO>` option that should cause
[code]
to appeared in MPD.

#### Example Pack

[2020-04-04 01:20] kqyang commented on #743
@tim-lansen Thanks for bringing this up.

I think we can include both cenc:pssh and mspr:pro in the result MPD by default. It is recommended by PlayReady specification too: https://docs.microsoft.com/en-us/playready/specifications/mpeg-dash-playready#212-including-a-playready-object-in-the-mpd.

Here is the code that needs to be updated: https://github.com/google/shaka-packager/blob/55349aa4c88b43

[2020-04-04 07:08] sr1990 commented on #554
@kqyang I was able reproduce this issue and following are the changes that I tried: 
1. In Representation::AddSegmentInfo:  https://github.com/google/shaka-packager/blob/069dbc82f7d65b98064670066abe83e264e747f7/packager/mpd/base/representation.cc#L334 added:
[code]
2. In IsTimelineConstantDuration(): 
Added Approximate check with 5% threshold at: https://github.com/google/shaka-packager/blob/8d11e

[2020-04-04 17:32] sridhard opened #744 "LIVE packaging for low latency"
## System info
**Operating System**: <e.g. macOS Sierra, Ubuntu 14.04 trusty etc>
Ubuntu 18

**Shaka Packager Version**: <e.g. v1.6.1, commit SHA etc>
2.4.1

## Issue and steps to reproduce the problem
I am using ffmpeg+shaka-packager for LIVE streaming. Currently the latency is around 20 sec. To reduce the latency I am facing some issues:

1. To reduce the latency one of the important recommendat

[2020-04-05 02:24] kqyang commented on #742
@komar007 Thanks for bringing this up.

It seems like the only way to be compatible to this specification is to repeat the segment at the period boundary in both periods as in section 12.1: https://dashif-documents.azurewebsites.net/Guidelines-TimingModel/master/Guidelines-TimingModel.html#connectivity-duplicates.

It requires some extra work in the players to detect and de-duplicate the shared se

[2020-04-05 03:42] sridhard commented on #554
@sr1990 @kqyang this issue is same as the issue I am facing #744 . @sr1990 were you able to generate mpd without segment timeline?

[2020-04-05 18:30] sridhard opened #745 "Shaka Packager Low Latency CMAF HLS support"
Hi,

What is the plan for Low Latency CMAF HLS support in shaka-packager? Shaka player has planned this support https://github.com/google/shaka-player/issues/1525.

Thanks

[2020-04-06 06:00] kqyang commented on #554
@sr1990 Thanks for looking into this issue. It seems like there are problems in your source content:

[code]

Are you always seeing the first segment to have 20 seconds instead of 10 seconds?

[2020-04-06 06:07] kqyang commented on #744
@sridhard This is the same issue as #554. Let's track there.

In addition to approximate timeline support, we'll need additional work as mentioned in #675 to support CMAF low latency chunks.

[2020-04-06 06:07] #744 closed

[2020-04-06 06:08] kqyang commented on #745
@sridhard We are looking for community help in supporting low latency CMAF HLS and DASH. See #675.

[2020-04-06 06:08] #745 closed

[2020-04-06 06:37] komar007 commented on #742
@kqyang

I just tested that Shaka Player can play a SegmentTemplate+SegmentTimeline stream with duplicated segments correctly.
Note that in case of streams that use SegmentBase addressing, segment duplication is unavoidable, because the timeline for all periods may be the same (they may all use the same sidx).  Shaka Packager kind of implicitly generates conforming streams when it's configured to

[2020-04-06 07:05] sr1990 commented on #554
@kqyang I sometimes see

[code]
and also
[code]
The content that I am using has key IDR frame every 48 frames and I am using VLC to create a UDP stream. Should I use some other tool to stream? Also please let me know how I can share the content.

[2020-04-06 09:57] sridhard commented on #554
@kqyang @sr1990 the first should always be of proper duration? for example if we have the segment duration of 1sec and timescale is 90000, then the first audio segment should always be 90000?

In the issue #744  I am facing the first audio segment always lesser.

          <SegmentTimeline>
            <S t="126000" d="54332"/>
            <S t="180332" d="89817" r="1"/>
            <S t="359966"

[2020-04-06 10:14] sridhard opened #746 "Audio Video Out-of-sync when using ffmpeg+shaka-packager"
## System info
**Operating System**: <e.g. macOS Sierra, Ubuntu 14.04 trusty etc>
Ubuntu 18

**Shaka Packager Version**: <e.g. v1.6.1, commit SHA etc>
2.4.1

## Issue and steps to reproduce the problem
I am using ffmpeg to receive rtmp stream. ffmpeg output is passed to shaka-packager via udp. shaka-packager will convert to DASH and the DASH stream is played using shaka-player. Always I find that

[2020-04-07 04:21] kqyang commented on #554
I just realized that I made a mistake in https://github.com/google/shaka-packager/issues/554#issuecomment-609582147: The duration of the first segment is 2 seconds instead of 20 seconds. So please ignore that comment.

@sr1990 @sridhard And yes, the duration of the first segment is expected to be smaller or equal to the duration of the later segments for live packaging as it is determined by the f

[2020-04-07 04:30] kqyang commented on #742
@komar007 Thanks for the confirmation! Have you tested dash.js and exo-player too?

Yes, we actually had some discussions on what is the right behavior in https://github.com/Dash-Industry-Forum/DASH-IF-IOP/issues/166. The players may have special handlings to deal with that.

I am not sure if the players support repeated segments too with SegmentTemplate + SegmentTimeline.

[2020-04-07 04:39] kqyang commented on #746
@sridhard A few questions:

- Are you seeing a/v out of sync since the beginning? Or does it only happen after running for a while?
- How frequently are you seeing the "gap" warning?
- Can you estimate the timing difference between a/v? 1.4 seconds?

It is a bit hard to debug with rtmp stream. What happens if you use ffmpeg to write rtmp to mp4 or ts file and then feed the mp4 or ts file to Shaka

[2020-04-07 12:26] komar007 commented on #742
Interesting read, thanks for that.

I have tested dash.js 3.0.3 and it gets a strange hiccup between period 2 and 3, where segments are not duplicated, after fluently transitioning between periods 1 and 2, where a chunk is duplicated (I have a 5-period clip with periods of lengths 10, 10, 20, 10 and 10 without segment duplication and with period-continuity signaled, where I manually duplicate entr

[2020-04-07 21:32] kqyang commented on #742
@komar007 Thanks for checking. I think one option we have is to support DASH timing model under a flag, --generate_dash_timing_model_compliant_mpd, default to false for now. We can enable it by default once it is supported by all major players.

@komar007 Will you be interested in helping us implement the fix?

Here are the changes we need:

(1) We can keep the main chunking logic as is for now. F

[2020-04-08 01:54] kqyang commented on #735
@karlg-arris Thanks for the information.

I don't see it mentioned in Microsoft spec. Can you point to me which section covers that?

Good point. For AES-CBC, we have to go with PRO 4.3; we can use PRO 4.2 for AES-CTR.

[2020-04-08 07:51] TomHetmer opened #748 "Segmentation fault on large files"
## System info
**Operating System**: Debian 10
**Shaka Packager Version**: packager version v2.4.1-c731217-release

## Issue and steps to reproduce the problem

**Packager Command**:
`/opt/shaka/packager in=/pecko/incoming/3444/0,stream=0,init_segment=cmaf/cze/maininit.cmfa,segment_template=cmaf/cze/main_\$Number%09d\$.cmfa,playlist_name=cmaf/cze/main.m3u8,language=cze,hls_group_id=program_audio_0

[2020-04-08 11:00] tim-lansen commented on #743
@kqyang yes, i just working on it. I tried to add '--mspr <base64 PRO>' option, but it's getting lost in that part of code
[code]
The `entry.mspr` here is always empty, but `raw_key.mspr` is not
[code]
What should i do to pass mspr's PRO from proto/raw_key?

another approach is to extract PRO from given PSSH, but i don't think it is a good idea.

[2020-04-08 11:40] tim-lansen commented on #743
@kqyang sorry i've missed last line
[code]
It's not that hard, but is it correct approach?
Should i parse multiple PSSHs to extract multiple PROs?
Should i implement `mspr:pro` suppress option?

Here is my current  diff patch
[patch.txt](https://github.com/google/shaka-packager/files/4450133/patch.txt)
I also looked at `ProtectionSystemSpecificInfo` and i cannot find where it's `psshs` being used

[2020-04-08 12:59] kickermeister commented on #560
The random order of audio tracks is for me especially problematic when I have multiple tracks with the same language (but different versions such as different mixes or channel configurations). If I understood correctly, it is not reliably possible to generate a manifest where the default track is the one I want it to be (i.e. the first which I pass as input with the defined default language):

[co

[2020-04-08 14:03] karlg-arris commented on #735
Section 2.1 and specifically 2.1.2.  To clarify, it discusses adding two sub-elements under the PlayReady ContentProtectionDescriptor...

[2020-04-08 14:29] tim-lansen commented on #743
Okay i've emitted this dirty piece
[code]

it seems to be working, so i'll push it to my fork

[2020-04-08 14:30] tim-lansen commented on #743
I should add `system_id` check, of course $)

[2020-04-08 17:20] kqyang commented on #735
Do you mean doing something like this:

[code]

I think it will be very confusing to players. It is also very difficult for players to handle it correctly.

[2020-04-08 17:36] karlg-arris commented on #735
@kqyang  I do mean that.

I don't think this is confusing at all,  given that it is merely specifying what players are already expecting. and implemented against.

 Players (mainly embedded types) that were developed against the original Microsoft spec <mspr:pro> will still require this element and use it if present.

Standards compliant players (ExoPlayer/Shaka/Dash-IF/Theo/Bitmovin)  are all cur

[2020-04-08 17:50] kqyang commented on #743
Yes, I think so. My understanding of PlayReady specification is

(1) It is recommended to include both `<cenc:pssh>` and `<mspr:pro>` for backward compatibility.
(2)  `<cenc:pssh>` and `<mspr:pro>` should contain identical information.

So we should not expect users to provide information for both explicitly. It also allows us to generate both entries internally without users providing either Play

[2020-04-08 20:00] kqyang commented on #735
Re https://github.com/google/shaka-packager/issues/735#issuecomment-611092936, let me clarify my points:

- There are no indications of PRO versions in either `<cenc:pssh>` or `<mspr:pro>`.
- Right now standard compliant players always use `<cenc:pssh>` and legacy non-standard compliant players always use `<mspr:pro>`.
- On legacy devices or platforms that supports PRO 4.0 only, standard complaint

[2020-04-09 05:29] kqyang commented on #560
@kickermeister Correct, there will be some work involved to make it work.

Here is a possible implementation:

- Add a new field `order_number` or `index` to StreamDescriptor struct: https://github.com/google/shaka-packager/blob/master/packager/packager.h#L74
- The field can be filled in after parsing `StreamDescriptor`: https://github.com/google/shaka-packager/blob/55349aa4c88b43b6bd6fd996efd15f8

[2020-04-09 05:35] kqyang commented on #748
@TomHetmer

Which email did you send it to? We did not receive it in shaka-packager-issues@google.com

Can you run packager again with more verbose logging, e.g. by setting --v=4?

[2020-04-09 05:54] sr1990 commented on #554
@kqyang Have created a PR.

[2020-04-09 07:11] TomHetmer commented on #748
I sent it there, yes. I'll post it here http://1737293223.rsc.cdn77.org/large.ts

ok, will try.

[2020-04-09 13:37] tim-lansen commented on #743
@kqyang i've made [pull request](https://github.com/google/shaka-packager/pull/749), but i don't see how to link issue.
And it tells that CLA is not signed, but it is %)

[2020-04-09 17:08] alwaysAn0n commented on #554
Eagerly awaiting a fix for this.  Thanks for all your hard work friends :)

[2020-04-09 19:50] kqyang commented on #743
@tim-lansen Cool. Thanks. I'll take care of the linking later when merging the change.

I am not able to find your name in our CLA database too. Can you make sure your Git committer email is included in CLA?

[2020-04-10 17:02] sridhard commented on #746
@kqyang thanks. Sorry for late reply. Below are the answers

Audio-video are in sync in the beginning and it happens over a period of time. Gaps are reported by shaka packager approximately every 4-5 seconds. Please check the packager logs https://share-to-vijay.s3.ap-south-1.amazonaws.com/shakapackagertests/packager-errors.txt

The timing difference is not 1.4 sec and it happens over a period of

[2020-04-10 17:15] kqyang commented on #746
Possible. I am seeing about one video frame loss only though in your log. Is the A/V out of sync only by one video frame (0.033 seconds)?

We'll need to understand what is causing the gap.

Have you tried the above?

[2020-04-11 01:57] #741 closed

[2020-04-13 23:09] SingingTree opened #750 "Resolution appears to be misidentified when reading avc3 files"
## System info
**Operating System**: Windows 10
**Shaka Packager Version**: 2.4.2

## Issue and steps to reproduce the problem
1. Download an avc3 file to package such as [bear.zip](https://github.com/google/shaka-packager/files/4472288/bear.zip). I've tested this with [test media from Chromium](https://source.chromium.org/chromium/chromium/src/+/master:media/test/data/bear-1280x720-v_frag-avc3.mp

[2020-04-13 23:56] kqyang commented on #750
@SingingTree Thanks for the bug report! Seems like we are missing a zero-initialization in the AVC Decoder Configuration Record parser: https://github.com/google/shaka-packager/blob/6b4a75b6bacdac6b0b9f598c365c8f84f0a7fd70/packager/media/codecs/avc_decoder_configuration_record.h#L55.

Let us know if you are interested in helping us fix it.

[2020-04-14 18:38] tim-lansen commented on #743
CLA is ok, CI pending )

[2020-04-14 21:15] #573 closed

[2020-04-15 03:33] sridhard commented on #746
@kqyang rtmp->mp4 and then play mp4 it is ok. No issues. When we pacjage mp4 with shaka-packager also no issues.

[2020-04-15 03:39] kqyang commented on #746
How about rtmp->ts and then package the ts with shaka-packager?

[2020-04-15 04:33] jjacquet commented on #660
Any progress on updating for OSX 10.15.4? I used the workaround and that seems to work but not really an enterprise solution.

[2020-04-15 04:49] kqyang commented on #660
No, unfortunately.

[2020-04-15 10:47] krzemienski commented on #709
This is super helpful, thanks for exposing your generatorit!

Maybe we should add the above example to the documentation? I ultimately have a need to to separate codecs and combined codecs in our prod workflow

When i went ahead and was going som throush some of the varios components i noticed that class name and looked here. I was  going to try and use this `skip_encryption=0|1` to generate the o

[2020-04-15 11:27] krzemienski commented on #709
@kqyang also if you don’t mind what would suggest to do to ensure the same drm headers as that the first media files were encrypted with? Is that handled in that tool?

If not I think what I’ll Have to do is just copy over those xml elements The first  original packaging, does that seem like a solid start?

[2020-04-15 16:54] jjacquet commented on #660
I used the Docker container and that worked perfectly. It actually makes more sense to use instead of an env specific shaka-packager configuration. Easier to set up to instead of getting gclient, ninja, etc.

[2020-04-15 17:02] kqyang commented on #660
Cool. I am glad that docker works for you. You can also find prebuilt osx binaries in our releases: https://github.com/google/shaka-packager/releases.

[2020-04-15 18:21] joeyparrish opened #751 "Wrong frame rate in output MPD/M3U8 with v1 CTTS boxes in input"
## System info
**Operating System**: gLinux / Debian testing
**Shaka Packager Version**: v2.4.2-c60e988-release

## Issue and steps to reproduce the problem

**Packager Command**:
[code]

Both sets of outputs should have the same frame rate, and according to ffprobe, they basically do:

[code]

But Shaka Packager puts very different numbers into the DASH manifests & HLS master playlists.  Both DAS

[2020-04-15 21:09] joeyparrish commented on #751
It seems that the frame rate in the output manifests/playlists is based on the duration of the first sample.  With v1 CTTS boxes, this sample duration is not calculated correctly.

I found a cheap solution: prefer the second sample duration over the first.  :-)  That seems to work in my tests, but there is probably a better solution.  I'm still getting familiar with the source code.

[2020-04-15 21:23] joeyparrish commented on #751
The correct duration is 512.  The first segment has an offset of 1024, and Packager sees the duration as 1536.  This is why it calculates a frame rate of 10 instead of 30.

[2020-04-15 21:45] joeyparrish commented on #751
The output of a verbose log with some interesting info:

Pushing frame: , key=1, dur=1536, dts=0, cts=0, size=763
Pushing frame: , key=0, dur=512, dts=1536, cts=2560, size=265
Pushing frame: , key=0, dur=512, dts=2048, cts=1536, size=33
Pushing frame: , key=0, dur=512, dts=2560, cts=2048, size=15
Pushing frame: , key=0, dur=512, dts=3072, cts=3072, size=1001
Pushing frame: , key=0, dur=512, dts=35

[2020-04-16 05:23] kqyang commented on #662
I assume this is caused by the same problem as #751. Mark it as a duplicate.

[2020-04-16 05:23] #662 closed

[2020-04-16 05:50] kqyang commented on #751
@joeyparrish Thanks for looking into it.

For this particular stream, looks like the actual frame rate of the stream is 30 fps (15360 / 512). The first frame should have a timestamp of dts=1024 and cts=1024, but they are normalized to 0 by FFmpeg, which results in a duration of 1536 for the first frame.

I think taking the average is the right choice.

I am a bit concerned on the live packaging sc

[2020-04-16 06:03] kqyang commented on #709
@krzemienski Glad that you like the project!

I agree that it should be documented. I'll see if I can find a time to do it. If you are interested, feel free to send us a pull request: https://github.com/google/shaka-packager/blob/master/docs/source/tutorials/dash.rst.

[2020-04-16 22:41] krzemienski commented on #709
@kqyang I would be happy to contribute. I wrapped things up in a shell script that allows you make X dash manifest based on a what codecs and audio tracks youd like from the glob of .media_infos and ill include it in the PR and we can see if its something worth also adding for folks to use. Will make sometime to open the pr this weekend!

[2020-04-16 22:57] kqyang commented on #709
@krzemienski SG. Thanks.

[2020-04-17 17:20] #743 closed

[2020-04-21 20:08] vengateshvengi opened #752 "Mpeg2 video format support in shaka packager"
As i am working in hls  packaging the live feed(udp),the input video codec is Mpeg2 .so is there any possibilities for packaging Mpeg2 feed.If not possible give me some suggestion without transcoding.

[2020-04-21 21:19] kqyang commented on #752
No, Mpeg2 codec is not supported. We do not have plans to support it right now.

I don't think it is supported by Chrome and Firefox either. So the only option is to transcode it before packaging. You can use FFmpeg to do the transcoding then pipe the data to packager using either Linux pipes or udp.

[2020-04-21 21:19] #752 closed

[2020-04-22 09:27] ShaoWeiguo opened #753 "Dolby DD+JOC support and using MPEG scheme for audio channel configuration"
Shaka Packager does not support Dolby DD+JOC, and still Dolby scheme for audio channel configuration descriptor. According to latest DD+ specs ETSI TS 102 366 V1.4.1, should prefer to use MPEG scheme.

I will send the pull request to fix these two issues.

Thanks.

[2020-04-22 09:31] ShaoWeiguo opened #754 "Dolby AC-4 codec support"
Shaka Packager does not support Dolby AC-4 codec. More and more content providers want to deliver AC-4 streaming service, but they don't have the packager.

I  will send the pull request to add this feature.

Thanks.

[2020-04-22 17:25] kqyang commented on #753
@ShaoWeiguo Great. Thanks for helping out!

[2020-04-22 17:28] kqyang commented on #754
@ShaoWeiguo Great. Thanks for helping out! Appreciated.

[2020-04-22 17:29] kqyang commented on #705
This is a duplicate of #754.

[2020-04-22 17:29] #705 closed

[2020-04-23 11:26] TomHetmer commented on #748
It appears the issue is related to corrupted input files, we're checking why that's happening

[2020-04-23 16:23] ifij775 opened #755 "Shaka DASH output doesn't pass conformance test with DASH validator"
## System info
**Operating System**: Windows
**Shaka Packager Version**: 2.4.2

## Issue and steps to reproduce the problem

1. Record mov video on my iphone.
2. Convert mov to mp4 (See in attached zip file)
ffmpeg -i firepit.mov -c copy firepit.mp4
3. Run shaka packager
4. Upload to website
5. Submit link to https://conformance.dashif.org/

**Packager Command**:
[firepit.zip](https://github.com/g

[2020-04-24 02:48] Jason239 opened #756 "Support LAURL for PlayReady PSSH generation"
Can I set the multiple PlayReady PSSH for each track(SD, HD, AUDIO, etc.) ?

I know it is possible if I use multiple key set by using option(--enable_raw_key_encryption and label=SD:key_id:...:key=...,label=HD:.....) with '-protection_systems PlayReady', but there is no way to set the PlayReady Server URL in PSSH.
I can not use '-playready_server_url' as well, because if I try to use this option,

[2020-04-24 17:26] kqyang commented on #756
@Jason239 I assume that all the PSSHs share the same server URL, can we solve your problem by adding --playready_server_url support to --enable_raw_key_encryption?

[2020-04-24 22:48] murillo128 opened #757 "seg fault on shaka::media::webm::Segmenter::Finalize() with empty segment"
## System info
**Ubuntu 18.04
**master branch

## Issue and steps to reproduce the problem
I have a media server that receives data over webrtc and produces mpeg dash with shaka packager. Sometimes I am getting a segmentation fault on shaka::media::webm::Segmenter::Finalize()

I think it is because the  medias server didn't receive any more data on the video track before finalizing all the segment

[2020-04-24 22:51] gleb-shchavlev opened #758 "Wrong video bandwith for hls if audio bandwidth is defined"
## System info
**Operating System**: CentOS Linux release 7.6.1810 (Core)
**Shaka Packager Version**: v2.4.2-c60e988-release

## Issue and steps to reproduce the problem

Shaka Packager always add last **audio** bandwidth to all **video** bandwidths if bw option is defined.

[code]

What is the expected result?

[code]

What happens instead?

[code]

[2020-04-24 22:57] kqyang commented on #757
@murillo128 I think this happens only if it is not receiving any samples, i.e. the stream is empty. Can you confirm if that is the case?

[2020-04-24 22:58] murillo128 commented on #757
I think this is the case, yes. Anyway adding a check would be harmless and not cause a regression

[2020-04-24 23:01] kqyang commented on #758
@gleb-shchavlev Is anything wrong with this? The bandwidth should be the combined bandwidth of the renditions, i.e. audio+video in this case: https://tools.ietf.org/html/rfc8216#section-4.3.4.2

      segment bit rates that is produced by any playable combination of
      Renditions.

[2020-04-24 23:03] kqyang commented on #757
@murillo128 I am wondering if the check should be added in an earlier stage. In any case, you are welcomed to send a pull request to us!

[2020-04-24 23:14] murillo128 commented on #757
Done.

If it is in the last segment, I could send an EOS frame, but I don't know how could I fix it from my app if I don't receive any media frame during the segment duration.

[2020-04-24 23:17] gleb-shchavlev commented on #758
http://ffmpeg.org/pipermail/ffmpeg-devel/2018-February/224777.html

[2020-04-25 00:07] kqyang commented on #758
@gleb-shchavlev Not sure what you want. Do you want to have an option to support HLS spec v6 or earlier?

Back to the original topic, I think BANDWIDTH is the combined bitrate for both HLS specs before v7 and after v7.

[2020-04-25 11:15] gleb-shchavlev commented on #758
Support for all the differences of the 7th version is not needed.
There will be enough options for changing the calculation parameters of banwidth.

https://datatracker.ietf.org/doc/draft-pantos-http-live-streaming/07/?include_text=1

[2020-04-25 21:09] #757 closed

[2020-04-25 21:21] kqyang commented on #758
@gleb-shchavlev I am really confused on what your point is. Per your latest comment https://github.com/google/shaka-packager/issues/758#issuecomment-619363206, the bandwidth is the overall bitrate, which is what we are doing now.

Do take note that a "#EXT-X-STREAM-INF" tag in HLS indicates a combination of renditions, including audio and video and possibly text. So both audio and video are consid

[2020-04-25 21:21] #758 closed

[2020-04-26 13:29] nehaboob opened #760 "Common System protection not working for m3u8 playlists"
## System info
**Operating System**: Ubuntu 14.04
**Shaka Packager Version**:  Generated with https://github.com/google/shaka-packager version v2.4.2-c60e988afa-release

## Issue and steps to reproduce the problem

packager \
'in=/media/h264_baseline_360p_600.mp4,stream=audio,init_segment=/media/audio/init.mp4,segment_template=/media/audio/$Number$.m4s,playlist_name=/media/audio/main.m3u8,hls_grou

[2020-04-26 23:12] kqyang commented on #760
@nehaboob Can you confirm that you have specified "--protection_scheme cbcs"? The generated key format should be SAMPLE-AES with cbcs protection scheme.

[2020-04-27 01:54] Jason239 commented on #756
I tried it but this error was occurred.
`ERROR: --program_identifier is required if --enable_playready_encryption.`

So I also added --program_identifier, then the following error occurs.
`ERROR:shaka_main.cc(332)] Only one of --enable_widevine_encryption, --enable_playready_encryption, --enable_raw_key_encryption can be enabled.`

So I can not use --enable_raw_key_encryption, but I want to use mu

[2020-04-27 02:08] Jason239 commented on #756
Ah, for clarity,

I mean this '<LA_URL>' in PSSH.

[2020-04-27 04:11] kqyang commented on #756
@Jason239 It is not supported yet. Will it work for you if we add support for it in `--enable_raw_key_encryption`?

[2020-04-27 04:55] Jason239 commented on #756
Probably it will

[2020-04-27 05:06] kqyang commented on #756
@Jason239 Is the license acquisition URL the same for different keys or different?

[2020-04-27 05:12] Jason239 commented on #756
Yes, LAURL is same for all stream

[2020-04-27 06:14] kqyang commented on #756
@Jason239 I am thinking of adding a generic flag `--playready_header_extra_data`, which allows users to include `LA_URL`, `LUI_URL` and even `CUSTOMATTRIBUTES`.

The implementation can be broken into two phases.

## Phase 1. Support the flag in PlayReadyPsshGenerator

1. Define a command line flag in https://github.com/google/shaka-packager/blob/master/packager/media/base/playready_pssh_generator.

[2020-04-27 08:10] Jason239 commented on #756
I will be happy to help you later after I finish what I'm working on now.

[2020-04-27 08:41] nehaboob commented on #760
@kqyang Sorry there was a typo.

I am getting below EXT-X-KEY and its giving Unsupported HLS KEYFORMAT identity error in shaka player.

#EXT-X-KEY:METHOD=SAMPLE-AES,URI="data:text/plain;base64,88XgNh5mVLKPgEnHeLI5Rg==",IV=0xC0DF95C86FC0E3035960563362E491D0,KEYFORMAT="identity"

Packager command:
packager \
'in=/media/h264_baseline_360p_600.mp4,stream=audio,init_segment=/media/audio/init.mp4,segmen

[2020-04-27 17:06] kqyang commented on #760
@nehaboob The packager output is correct. What operating system and what browser are you testing the playback on?

[2020-04-28 08:24] nehaboob commented on #760
@kqyang I am testing on ubuntu 16.04 and Chrome Version 81.0

[2020-04-29 00:31] kqyang commented on #760
@nehaboob You'll probably need to config the clear key explicitly in the player.

@joeyparrish Does Shaka Player support `identity` key format with keys provided in `URI`?

[2020-04-29 09:43] Nixon197 commented on #746
@sridhard you could try ffmpeg piping: https://google.github.io/shaka-packager/html/tutorials/ffmpeg_piping.html

You could be experiencing udp packet loss.

[2020-04-30 05:53] #748 closed

[2020-04-30 08:30] komar007 commented on #742
I haven't had much time to look into it, unfortunately.
A while ago I got down to this issue, but I found that for some reason shaka-packager stopped building in docker (I cannot even get the Dockerfile from the git repo to build).
I'll try to isolate the problem and file another issue, not sure where the problem is. Could be shaka-packager, depot_tools or alpine linux.

[2020-04-30 19:12] abdevnet commented on #575
@bricemiramont I'm building my subtitle file this way as well in a manual step after I run shaka packager.  However, I'm having an issue where my subtitles start to drift and get behind the actual dialog.  Did you experience this?  I'm curious what segment duration are you using for your video and audio files?  I'm using 3 seconds as the GOP in our original encodes is at 3 seconds.

[2020-05-01 00:49] krzemienski commented on #755
I also am seeing similar on dashif conformance:

As of 2.4.2 release Im investigating playback issues relative to hevc based adapt sets, the avc based adapt sets play fine on all major ott players (roku exo). How ever Roku player does not like the hevc packaged content and wont start playback. Both the avc and the hevc source mp4s are encrypted and packaged with the below

[code]

Here are the pro

[2020-05-01 01:11] kqyang commented on #755
@krzemienski Yes, please file a separate issue instead. It is related but your issue is likely not caused by the incompatibilities.

[2020-05-01 01:42] krzemienski opened #762 "HEVC based input media causing playback issues from generated DASH on some major OTT players"
As of 2.4.2 release Im investigating playback issues relative to hevc based adapt sets, the avc based adapt sets play fine on all major ott players (roku exo). How ever Roku player does not like the hevc packaged content and wont start playback. Both the avc and the hevc source mp4s are encrypted and packaged with the below

[code]

Here are the produced manifests from the above.
[shaka-2.4.2-avc-

[2020-05-01 06:00] kqyang commented on #762
@krzemienski  Thanks for filing the issue.

Shaka does support. I suspect that the validator does not support hevc. `hvcc` is the codec configuration box for HEVC. Which validator are you using?

Do you mean that HEVC works for you previously?

No, we don't :). We do want to support HEVC at the same level as vp9.

I will be interested to see the results.

What is the problem are you seeing? Is the

[2020-05-01 14:54] krzemienski commented on #762
@kqyang thanks for your notes! I actually assumed (I think I have really proven the saying `assuming makes an ass out of you and me`) maybe for legal reasons you guys don’t have the hevc support listed out. Moving forward I’ll be sure to open issues and reach out! I actually wrote a private fork to https://github.com/google/shaka-streamer just for hevc under that assumption too and so now knowing

[2020-05-01 17:21] kqyang commented on #762
I am glad that you enjoy our projects!

You may want to file a Roku ticket. Hopefully they can find out the exact reason why it does not play.

[2020-05-01 17:27] Brainiarc7 commented on #524
How can the "timeout" option be passed to the packager for UDP input?
That way, the binary can simply "exit" instead of hanging indefinitely.
[FFmpeg's UDP protocol implementation](https://ffmpeg.org/ffmpeg-protocols.html#udp) supports a timeout option on input, as a reference.

[2020-05-01 17:28] kqyang commented on #524
A similar option is supported in Shaka: https://google.github.io/shaka-packager/html/options/udp_file_options.html

[2020-05-01 17:45] Brainiarc7 commented on #524
@kqyang can confirm, it works.

[2020-05-01 22:38] joeyparrish commented on #760
Shaka Player does not currently support the identity key format in HLS.  To do so, we would likely use ClearKey, but Apple has not implemented that in Safari yet for some reason.

[2020-05-01 22:41] joeyparrish commented on #760
It turns out we have an open feature request for that in Shaka Player: https://github.com/google/shaka-player/issues/2146

[2020-05-01 22:45] kqyang commented on #760
@joeyparrish Thanks for the information.

[2020-05-01 22:45] #760 closed

[2020-05-01 22:48] kqyang commented on #760
@nehaboob Let us know if there is anything else we can help with.

[2020-05-02 10:54] nehaboob commented on #760
@kqyang I guess we just have to wait for clearkey to be support I guess.

[2020-05-02 15:09] joeyparrish commented on #760
@nehaboob, you should file an issue on WebKit/Safari to ask for ClearKey to be supported.  If you do, please link to it here so we can track the issue as well.  Thanks!

[2020-05-03 09:08] nehaboob commented on #760
@joeyparrish how about hls fmp4 clearkey support on Shaka player, is there any plan for that ?

[2020-05-04 05:55] komar007 opened #763 "docker fails to build"
For a while now I haven't been able to build the shaka-packager docker.
I get:
[code]
It seems to be a problem with depot_tools and alpine, in particular something with the way depot_tools wraps python and its incompatibility with alpine (also tried 3.10: the same problem).

A workaround is to call `gclient.py` directly instead of through its wrapper script `gclient`, like so:
[code]

[2020-05-04 06:18] kqyang commented on #763
@komar007 Interesting. I tried just now by running `sudo docker build .` in the code directory. It completed successfully. Maybe because of caching?

Anyway, from the code, it seems like depot_tools enabled `python3` by default recently: https://source.chromium.org/chromium/chromium/tools/depot_tools/+/master:gclient.

So another way to address the problem is to set the flag `GCLIENT_PY3` to 0. I

[2020-05-04 06:33] komar007 commented on #763
I think I had thought for a few months that everything was ok, until I built with `--no-cache` to see that there was a problem... I'm not sure what caused it, an alpine update or a depot_tools update, but I have tried several versions of depot_tools (even dating back to a year ago) and it didn't help. Neither did using an older version of alpine linux.

With `GCLIENT_PY3=0` I get:
[code]
which cer

[2020-05-04 14:34] joeyparrish commented on #760
That is already supported.  You can use clearkey with any supported content on any browser with a clearkey implementation.

[2020-05-04 16:26] francoisbussery opened #764 "PTS/DTS not reliable for segmented video"
## System info
**Operating System**: Ubuntu 19
**Shaka Packager Version**: 8e113af215-release

## Issue and steps to reproduce the problem

**Packager Command**:
tested with http://twitch-event-engineering-public.s3.amazonaws.com/sync-footage/Sync-Footage-V1-H264.mp4 as input file

packager \
in=tmp/Sync-Footage-V1-H264.mp4,stream=video,init_segment=video/v_init.mp4,segment_template=video/v_\$Numb

[2020-05-04 16:29] kqyang commented on #763
Ideally we should make it work with python3, but I think it is sufficient for now. Yes, please submit a pull request. Appreciated!

[2020-05-04 17:20] kqyang commented on #764
@astinus-1 Can you try if we can re-produce the problem? Thanks.

[2020-05-05 23:50] kqyang commented on #636
Mark as a duplicate of #321.

[2020-05-05 23:50] #636 closed

[2020-05-06 00:13] kqyang commented on #717
@astinus-1 Can you try if we can re-pro?

[2020-05-06 00:14] kqyang commented on #692
@astinus-1 Can you try if we can re-pro?

[2020-05-08 22:03] Brainiarc7 opened #766 "Feature request: Add support for playlist wrapping to allow for predictable segment naming based on the HLS and DASH playlist size."
## System info
N/A, as this is a feature request.

## Feature request:

As stated in the subject above: Add an option that would allow a playlist to be "wrapped around", ie restart segment naming from 0 to `n`, where `n` is number of segments in playlist-1.

This would allow the packager's behavior to match ffmpeg's -hls_wrap option which accomplishes the same, allowing for a predictable naming sc

[2020-05-08 22:27] kqyang commented on #766
Thanks for filing the feature request. I assuming that it is for live only and `n` needs to match or larger than the live window or buffer depth. Correct me if I am wrong.

Do you have links to FFmpeg's -hls_wrap option?

I am not sure how we can recover with this feature. Can you describe it in detail?

[2020-05-08 22:47] Brainiarc7 commented on #766
You are correct. Nailed it.

Yes, see [this](https://ffmpeg.org/ffmpeg-formats.html#hls-2). [This](https://github.com/FFmpeg/FFmpeg/blob/master/libavformat/hlsenc.c#L1000) is how the sequencing is set up by the wrap option passed to the HLS muxer in ffmpeg.

Sure.

Typically, a user may have more than one packager instance running off a single source,say a UDP ingest, wherein the said packagers wr

[2020-05-09 00:47] kqyang commented on #766
According to the FFmpeg link, it has already been deprecated.

I still don't get how it affects recovery from such conditions. If packager is restarted, isn't it always restarting from 0 regardless of whether it wraps or not?

[2020-05-09 12:51] Brainiarc7 commented on #766
Deprecation does not imply discontinuation.

To this day, the only way you can get FFmpeg 's HLS muxer to retain a predictable number of segments is with that "marked as deprecated" feature `-hls_wrap`. There are flags that attempt to replicate that function, ie `-hls_flags +delete_segments -hls_delete_threshold size n` where segments older than `hls_list_size+1` will be deleted, and often with [u

[2020-05-09 22:31] kqyang commented on #766
My understanding of `-hls_wrap` is that it provides a subset of functionality offered by `-hls_flags +delete_segments -hls_delete_threshold size n` and that is why it is deprecated. Note that Shaka Packager already supports a similar functionality as `-hls_flags +delete_segments -hls_delete_threshold size n`.

My interpretation could be wrong. From your response, it does seem that my interpretatio

[2020-05-10 01:48] Brainiarc7 commented on #766
What that option would bring for live streams would be persistent file names on a variant playlist whose last segment number, say segment6.m4s on a playlist configured to have a maximum of 7 segments each, would not increment beyond n-1, where n=number of segments on the playlist.

At the moment, shaka simply starts from segment0.m4s to an arbitrarily large number the longer it runs.

I'll provide

[2020-05-11 11:02] avrecko commented on #717
I compared cbcs result of Shaka packager against another packager.

There are occasional differences in detected hevc slice header lengths. I suspect your hevc slice length parsing code has a bug.

You might want to compare your hevc slice parsing results against ffmpeg.

[2020-05-11 19:57] kqyang commented on #717
@avrecko Thanks for doing the comparison. Would you mind sharing one or a few slice headers that have different results? That will help us identify the problem sooner.

[2020-05-12 10:10] avrecko commented on #717
@kqyang sure thing. I created a comparison file. This is from my own sample file and not the one linked in the ticket. Available here:

https://gist.github.com/avrecko/404b5cff4f79f4fc82e3dc33753de637

The values in the file should be self explanatory. I suggest you include some of this in your unit tests. Happy hunting.

[2020-05-12 16:43] nuscpe commented on #717
@avrecko Thanks very much for your help! Can you include codec configuration record which includes SPS and PPS in the gist too?

[2020-05-12 16:45] kqyang commented on #717
@avrecko Thanks very much for your help! Can you include codec configuration record which includes SPS and PPS in the gist too?

[2020-05-12 18:23] avrecko commented on #717
@kqyang Maybe you already figured it out. But if you look closely, at the arbitrarily chosen 256 bytes, the first sample is an IDR. It has aud, vps, sps, pps, 3x sei and then finally the partial slice. It should have around 100 bytes of slice nal. This is enough bytes to be sure that the slice header is complete.

You can use this data to test your nal parsing, vps, sps, pps parsing and slice head

[2020-05-14 15:39] jingke2000 commented on #717
Thanks @avrecko and @kqyang for triaging on this issue.  Is there any activity underway on fixing it? I saw it was included in V2.5. Does that imply the fix (with many others) to be released on 08/31?

[2020-05-14 18:30] kqyang commented on #717
@jingke2000 Yes, that is the plan. As for this issue, we'll try to address it this month.

[2020-05-14 19:03] jingke2000 commented on #717
@kqyang Thanks for the update. From the analysis by @avrecko, there seem to be occasional mismatches of H.265 slice header size. Have you found the root cause of it?

[2020-05-14 19:06] kqyang commented on #717
No. We have not looked into it yet.

[2020-05-14 19:32] jingke2000 commented on #717
OK. I can also do some analysis toward it and will report back here with any of my findings.

[2020-05-14 20:01] kqyang commented on #717
@jingke2000 That will be great. Thanks. We welcome pull request too! If you find out where the problem is, you are very welcomed to submit a PR to us to fix it.

[2020-05-14 20:20] jingke2000 commented on #717
Sure. Will do.

[2020-05-16 06:06] weiyuefei opened #768 "[Question] Simulate Live DASH"
Hi @kqyang,

I have a requirement to simulate live broadcast and  I use ffmpeg to read VOD file one by one for streaming, and use packager for segments packaging. I found an issue that when a file finishes streaming, and then switchs to the next file, the timestamp will change, the packager detects that changes. However, packager does not write a new period (For HLS, packager will add the "#X-EXT-

[2020-05-16 13:38] avrecko commented on #717
Gpac might not be the best reference to compare with. I've just debugged Gpac code by looking what it does with the first P frame. It creates a pair 32|x while Shaka 48|x and an in-house solution I am working on 48|x. Also looked at the FFmpeg hevc slice structure state and indeed it matches with our own.

[code]
I'll look what is going on with the rest of the frames soon. Will keep you posted.

[2020-05-16 21:47] kqyang commented on #717
@avrecko Thanks! Btw, have you tested the stream generated by Gpac, does it play correctly in AVPlayer?

[2020-05-16 21:49] kqyang commented on #768
@weiyuefei We don't support multi-period DASH during live packaging right now. What is the FFmpeg command you are using? If the content is an exact multiple of segment duration, there shouldn't be a GAP.

[2020-05-17 07:52] avrecko commented on #717
@kqyang Not yet. First I want to verify that the pairs are correct. I am cross comparing the slice header parsing with FFmpeg. I'll post results soon.

[2020-05-18 02:03] weiyuefei commented on #768
@kqyang My usage scenario is as follows:

I have some VOD content, and I want to simulate LIVE service. I use ffmpeg to read files for streaming and use packager for HLS/DASH ouptut.

Assuming that I have two VOD files, 1.mp4 and 2.mp4, firstly I start a packager process receiving the live streams as follows:

$ packager \
  'in=udp://239.0.0.1:5000?interface=172.29.46.122,stream=audio,init_segmen

[2020-05-18 02:09] weiyuefei commented on #768
My question is that whether there is a way to achive the same goal as that in HLS (add "X-EXT-DISCONUNITY" to m3u8 playlist) for DASH output when meeting this situation above? Thanks

[2020-05-18 04:42] kqyang commented on #768
As mentioned in https://github.com/google/shaka-packager/issues/768#issuecomment-629710357, multi-period DASH during live packaging is not supported right now.

Do you know the duration of 1.mp4, 2.mp4 etc? If so, you may try workaround it by using `output_ts_offset` in FFmpeg.

[2020-05-18 05:56] weiyuefei commented on #768
yes, I can get the file duration, and thanks for your advice, I will try  `output_ts_offset ` in FFmpeg.

BTW, is there any plan to support this feature in the near future?

@kqyang  Thanks again for your answer, I will close this issue.

[2020-05-18 05:59] #768 closed

[2020-05-18 06:06] kqyang commented on #768
@weiyuefei No, we don't have plans currently.

[2020-05-18 07:18] #657 closed

[2020-05-19 10:19] avrecko commented on #717
I deleted the gist with comparison with Gpac. It is useless as in my testing and comparison with openHEVC (FFmpeg with just the hevc part) they are both inaccurate.

Here is one difference I found when comparing Shaka output, my own hevc parser and openHEVC.

https://gist.github.com/avrecko/d22a9eb9624b1bf14321cac2e842d22d

Please verify that you respect the following in your code:

- When colloca

[2020-05-19 14:49] aleek commented on #746
Try playling with ffmpeg's `fps' filter, i.e. `fps=fps=30:start_time=0:round=near`. AFAIR, it helped me with similar problem.

[2020-05-19 17:58] kqyang commented on #717
@avrecko Do you infer Shaka's slice header length through subsample size? That is adjusted by rounding cipher size to multiple of 16 bytes.

Yes: https://github.com/google/shaka-packager/blob/master/packager/media/codecs/h265_parser.h#L263

Yes: https://github.com/google/shaka-packager/blob/master/packager/media/codecs/h265_parser.cc#L296.

[2020-05-19 19:45] avrecko commented on #717
@kqyang For the sample in gist. Shaka generated a pair P(49|X) while the in-house cbcs implementation I just finished P(48|X). I verified the hevc slice length using openHEVC for all of the samples in the sample video. For this particular sample in gist the length should be 23. I suspect that Shaka is seeing a different slice header length. Would just like to know if that is the case.

Now for the

[2020-05-19 19:53] kqyang commented on #717
I had an incorrect statement in my earlier comments:

This is incorrect. The subsample size is not adjusted by `cbcs`, so there is definitely some difference between SHAKA slice header parser and your in-house cbcs parser.

Great. Keep us updated.

[2020-05-20 10:04] salmoro opened #769 "A/V freeze at Fairplay-encrypted sections with text if clear-lead is not zero"
## System info
**Operating System**: MacOS 10.13.6 / Safari 13.1. Can also repro on IPhone6.
**Shaka Packager Version**: 2.4.2

## Issue and steps to reproduce the problem

**Packager Command**:

[code]

**What is the expected result?**
Video should play start to finish without interruption.

**What happens instead?**
Audio and Video freeze at first encrypted section where there is text.
See [here

[2020-05-20 17:49] avrecko commented on #717
@kqyang I've updated the in-house cbcs support. Now the results are a bit different.

I have 5 production hevc streams as samples. In automated testing comparison between in-house cbcs and shaka. 3 streams match with the lengths. Including the sample from the gist. I played the sample from the gist successfully on Safari. Both in-house and Shaka play without visual glitches.

I'll look into the di

[2020-05-20 20:04] kqyang commented on #769
@salmoro It might be caused by DISCONTINUITY tag mismatch in audio/video and text. Does it work if you remove the clear lead, i.e. `--clear_lead=0`?

[2020-05-21 06:02] salmoro commented on #769
@kqyang Yes. Removing clear lead makes the video play well.
Is there any work-around if I want to use clear lead?

[2020-05-21 06:16] kqyang commented on #769
It may work by inserting a DISCONTINUITY tag in the beginning of the subtitle playlist.

[2020-05-21 06:37] salmoro commented on #769
@kqyang Adding DISCONTINUITY tag in the text playlist seems to fix this. Thank you!

[2020-05-21 08:29] avrecko commented on #717
@kqyang I have a sample made with the in-house cbcs and one with shaka. With shaka there are some visual glitches while with the in-house there is smooth playback on Safari.

I've extracted the first frame where in-house and shaka differ in plain length. 40 pain bytes for Shaka vs 36 bytes for in-house.

https://gist.github.com/avrecko/0ce67d5a570f5b9bb8deed7f54968d64

What is your slice header le

[2020-05-21 16:42] kqyang commented on #717
@avrecko Great. Thanks for nail down the problematic slice!

Here is our slice header parsing logic:

https://github.com/google/shaka-packager/blob/ab8fa87d1807e2f8a5756e365f9bf7b41cc4a992/packager/media/codecs/h265_parser.cc#L183

Can you help us check where the problem is?

[2020-05-22 08:29] solaris7x commented on #455
Hello ,
As per my understanding of the above discussion , Shaka-Packager creates a mpd file with segmentTemplate , thus if I need to provide uri of each segment , I will need to convert the SegmentTemplate to SegmentList

I need to provide each segment uri as the backend storage provided in my case serves file by their ID generated during upload , eg. https://www.mystorage.com/file/[fileId]

To wo

[2020-05-22 11:17] STiNG645 opened #770 "HLS audio group for different quality videos (e.g. stereo for low quality video, surround for high quality video)"
HLS audio group for different quality videos (e.g. stereo for low quality video, surround for high quality video)
Is audio grouping for video feature implemented? If yes, give an example please, I can not find (or understand) from the documentation.

[2020-05-22 14:51] avrecko commented on #717
@kqyang I found the problem. Made a fix. But will make a pull request when I track down one more difference between shaka and in-house.

https://github.com/avrecko/shaka-packager/commit/a4362bb95178d773b07ec24e71b91323801caef7

Basically you always use default value while it can be set explicitly in the slice header.

[2020-05-22 15:39] avrecko commented on #717
@jingke2000 I looked at your sample. You have 2x vps,sps and pps per irap frame. Are you sure this makes sense?

[2020-05-22 16:27] avrecko commented on #717
@kqyang There is at least 1 more problem after the fix is applied. With in-house cbcs it plays fine on Safari. Shaka has glitches. Occasionally Shaka makes a slightly larger plain size for irap frames.

[2020-05-22 16:40] avrecko opened #772 "CLion IDE instructions"
I'd appreciate if you write how to set up Shaka with CLion IDE in your documentation.

I have no experience with C/C++ build tools. Just a little familiarity with (c)make. I am not a C/C++ developer.

I don't know how to make the CMakeList.txt that CLion wants. It defeats the purpose of having an IDE if code navigation doesn't work.

Your build instructions are very nicely done. I'd really like to

[2020-05-22 18:28] jingke2000 commented on #717
@avrecko You are right. That doesn't make sense. We changed it to single set of vps/sps/pps. I'll capture and upload a correct sample here.

Thanks!

[2020-05-22 20:50] kqyang commented on #770
We do allow specification of audio groups through `--hls_group_id`: https://google.github.io/shaka-packager/html/tutorials/hls.html#hls-specific-stream-descriptor-fields.

But we generate variants for all audio groups. Assuming that there are two audio audios: stereo and surround, and there are two video streams: SD and HD, we will generate four StreamInfo entries (`#EXT-X-STREAM-INF`):

- SD with

[2020-05-22 20:56] kqyang commented on #717
Re avrecko@a4362bb, great finding! Thanks.

@avrecko Will you be able to help us track it down as well? Appreciated!

[2020-05-22 20:59] STiNG645 commented on #770
Yes, right. I know about specification of audio groups through --hls_group_id, but I didn't find the function of attaching audio groups for different quality videos.

[2020-05-22 21:09] kqyang commented on #772
That is a good idea, but there are just too many different IDEs people use :).

I personally don't have experience with CLion.

As for generating CMakeList.txt, you can try with this command:

[code]

It will generate CMakeList.txt in `out/Debug` and `out/Release` directories. Let us know if it works. You are also welcomed to add an IDE instructions page in our documentation: https://github.com/go

[2020-05-22 21:20] avrecko commented on #717
@kqyang I found the problem but you will have to fix it.

The EOS_NUT unit is added at the start of the next frame instead at the end of the previous frame. This looks to be a generic problem unrelated to cbcs? New issue? Except for this Shaka cbcs works with the samples I tested on.

[2020-05-22 21:20] kqyang commented on #770
This is not yet supported.

It can be supported with a new stream descriptor like `hls_allowed_groups". Here is the change needed:

- Add a new stream descriptor similar to what we have done for `hls_group_id`: https://github.com/google/shaka-packager/blob/a1dd82d478c4622dff1a0d0489f170ed6e1814d5/packager/app/stream_descriptor.cc#L63

- Update corresponding documentations

- Propagate it to `Muxer

[2020-05-22 21:27] kqyang commented on #717
@avrecko Great that you found the problem.

Can you be more specific? I don't think we would add NAL units to the frame.

[2020-05-22 21:31] STiNG645 commented on #770
Thanks for the answer, I try.

[2020-05-22 21:36] avrecko commented on #717
@kqyang I am using the word frame a bit loosely. I was not referring to slice if that is what you mean. I had in mind the whole sample.

Maybe this will be more helpful:

`SubsampleGenerator::GenerateSubsamplesFromH26xFrame
    ....
     while ((result = reader.Advance(&nalu)) == NaluReader::kOk) {
        // &nalu should change with iterating to AUD, VPS, SPS, PPS, Slice
        // but is like th

[2020-05-22 22:02] kqyang commented on #717
`SubsampleGenerator::GenerateSubsamplesFromH26xFrame` does not actually change the sample. It parses the samples and determine subsample boundary. It will be more helpful if you can give an example with data like what you did earlier.

[2020-05-22 22:22] avrecko commented on #717
I'll prepare a sample soon. Looking at ts file:

Sample N: has AUD, Prefix SEI, Trail_R, EOS_NUT
Sample N+1:  AUD, VPS, SPS, PPS,...

While for Shaka:
Sample N + 1: EOS_NUT, AUD,...

[2020-05-23 08:14] avrecko commented on #772
The command did generate the CMakeList.txt. But there are some problems:

When I commented out the

I got

I looked at the source and indeed tool_mfiles.c is missing. There are a bunch of other tool_something.c files but mfiles is not one of them.

[2020-05-23 10:56] avrecko commented on #717
@kqyang Regarding EOS_NUT. The problem is in the mp4 file and not in Shaka.

What happened is this:

I did not expect this from ffmpeg. Now the 5 samples I have all match with Shaka.

[2020-05-23 11:01] avrecko commented on #772
What I ended up doing is commenting out curl, protobuf, test lib and putting absolute paths in. Some lines in CMakeLists are referring to macos dir. This is not going to work on linux.

Can you make CMakeLists use absolute paths and don't include macos stuff on linux?

[2020-05-23 22:58] kqyang commented on #772
I don't know. It is generated by tool under `packager/tools/gyp/pylib/gyp/generator/cmake.py`. It seems like it is out-dated.

[2020-05-23 23:53] kqyang commented on #717
I see. Thanks for checking.

[2020-05-24 10:03] avrecko commented on #772
With some manual editing of CMakeLists.txt I am able to import into CLion. Code navigation works. I am building via command line. It is fine for some quick edits.

In terms of shaka I guess this is as good as it gets.

[2020-05-24 19:04] kqyang commented on #717
Thanks @avrecko for addressing the issue.

@jingke2000 You may compile Shaka Packager with https://github.com/google/shaka-packager/commit/15934d66c072fa2b2dc82ccb7bbc52d321da2bce, or wait for Shaka Packager v2.4.3 release, which should happen next week. Let us know if you are still experiencing playback problems with the fix.

[2020-05-25 00:13] jingke2000 commented on #717
Thanks @avrecko @kqyang. You guys are moving super fast. Yes I'll get code fixed and test it with our transcoders. I'll post the result here.

[2020-05-25 18:21] avrecko commented on #717
@jingke2000 Out of curiosity. Could you share a few details about your transcoder? Do you use ffmpeg for the actual encoding or do you have an in-house hevc encoder?

I think that the biggest complexity in transcoding is in making a good balance between low delay and good compression. Would that be accurate? As for regular VOD you can do a 2 pass and have lookahead at 50-60 frames. Not something y

[2020-05-26 02:29] sr1990 commented on #764
I am not able to reproduce this issue. ffprobe on both original mp4 and concatenated m4s files show the same pts, dts, pts_time, dts_time for last packet:
[code]

[2020-05-27 06:46] kickermeister commented on #560
@kqyang I wish I had the skills to implement these changes, but I'm afraid I simply can't. Hope this issue is important enough for others to give it a try!

[2020-05-27 16:31] jingke2000 commented on #717
@avrecko
Hi. Sorry I was not able to write back to you earlier.
We work with different transcoders (an in-house one and other commercial ones) as ingests for OTT ABR streaming products.
You are absolutely right. For linear live transcoding, a key aspect is to make good balance between low latency and good compression. To get good compression, we can buffer more (e.g., one GOP). But that would add

[2020-05-28 15:27] sbbullet opened #776 "How to implement plain AES-128 encryption while packaging for HLS?"
## System Info
**Operating System**: Ubuntu 20.04
**packager Version**: v2.3.0-5bf8ad5-release

**How to implement plain AES-128 encryption in HLS? I didn't find it in the documentation and other issues.**

What is the expected result?
Plain AES-128 encryption to be implemented so that players like shaka and videoJS will play them without any configuration. AES-128 encryption of HLS like that done

[2020-05-28 16:12] dclarkprod opened #777 "fMP4 - Audio & Video Segment Length Consistency"
## System info
**Operating System**: macOS Mojave, GCP COS
**Shaka Packager Version**: v2.4.1-c731217-release

## Issue and steps to reproduce the problem
Hello, we are working to generate a HLS ABR stack packaged with fMP4 segments and have come across issues with varying segment lengths between our audio and video variants. At this point, playback seems to be in sync for these sources; however,

[2020-05-28 16:40] dclarkprod commented on #777
In addition, I have tested with the `--allow_approximate_segment_timeline` argument from #330 without any change to the chunking.
Is it required with the current iteration of packager to dynamically set the segment lengths based upon not just video GOP but the audio samples as well?

[2020-05-29 03:49] z0mb1ek commented on #777
Hi, I see the same with ffmpeg encoding. I think for fmp4 audio schould not be the same length as video

[2020-05-29 07:25] kqyang commented on #776
@sbbullet Certainly.

Here are the changes needed. Let us know if you have questions.

- Support "AES-128" protection scheme in `GetProtectionScheme` and propagate it: https://github.com/google/shaka-packager/blob/8e113af215d48e704b5b031442fe3841b4e6940c/packager/app/packager_main.cc#L162
- Update `EncryptionHandler`
  - Update `EncryptionConfig` to include the `key`: https://github.com/google/sha

[2020-05-29 08:01] kqyang commented on #777
@dclarkprod The result is expected. This is because:

- For audio frame
  - There are always 1024 audio samples in an audio frame. For a frequency of 48kHz, the audio frame size is: 1024/48000 = 0.21333... seconds
  - 6 / (1024/48000) = 281.25.
  - We try to create segments aligned with the segment timeline from target segment duration. Since the number of audio frames must be an integer, the numb

[2020-05-29 11:12] sbbullet commented on #776
Thank you @kqyang for your support. I will try propagating these changes as per your suggestion but I don't think I will be able to make it work since I am just a beginner to encryption and really don't know much about how to modify open-source projects but I will try my best.

I am curious whether it will output plain SAMPLE-AES encrypted content just using the current options. If yes, could you

[2020-05-29 15:23] dclarkprod commented on #777
Understood regarding the math for the frames; however, what are we able to do to at least get a consistent segment length for the audio similarly to our video playbacks?

For this situation, it is not possible to adjust frame rates.

[2020-05-29 17:53] kqyang commented on #776
You can follow the examples here: https://google.github.io/shaka-packager/html/tutorials/raw_key.html#using-raw-key, specifically "Example with FairPlay using ‘cbcs’ protection scheme", but skip the "protection_systems".

[2020-05-29 18:04] kqyang commented on #777
@dclarkprod You can set segment duration to 5.994 or 5.995. There will still be occasional outliers, but should be the same most of the time.

Out of curiosity, what is the reason that your downstream process requires the segment duration to be the same?

[2020-05-30 17:11] sbbullet commented on #776
Hello @kqyang , I followed the tutorial and did package the content as well but the content can't be played. The key URL is being hit and the response is received as well. The response is `base64` encoded value of `key` provided in the packager option.

The packager command I used is as:

packager \
                                          'in={$this->videoFolder}/input720.mp4,stream=audio,segmen

[2020-06-01 05:44] kqyang commented on #776
Please return a raw key instead of base64 encoded key.

[2020-06-01 07:00] sbbullet commented on #776
I tried as you said but no luck.  6seconds played because I think shaka-packager had by default clear lead 6s. Just look at this image I attached. I used the same key and key_id. The manifest looks like this.

[code]

![image](https://user-images.githubusercontent.com/20886273/83383631-42c1a480-a405-11ea-885d-5d1bd3bd6cd8.png)

[2020-06-01 07:17] kqyang commented on #776
@sbbullet What your service return is still not the raw bytes. It is returning the hex representation.

As an example, you can try set "--keys label=:key_id=30313233343536373839303132333435:key=30313233343536373839303132333435" in packager and return "0123456789012345" in http://localhost:3000/api/get-key.

[2020-06-01 07:57] sbbullet commented on #776
No luck again. I can provide you the packaged files if you want.

[code]

**Pacakger Command**
[code]
![image](https://user-images.githubusercontent.com/20886273/83387497-91267180-a40c-11ea-988c-1fd4fef85716.png)

[2020-06-01 16:48] kqyang commented on #776
Can you remove `--hls_key_uri http://localhost:3000/api/get-key` during packaging and test it again? Let's rule out the player and site factor first.

[2020-06-01 17:03] sbbullet commented on #776
Yep, I will try it asap and get back to you with results.

[2020-06-01 17:26] sbbullet commented on #776
Hey @kqyang, I tried as you told and still no luck.

**Packager params**

[code]

**Manifest**
[code]
**Screenshot**
![image](https://user-images.githubusercontent.com/20886273/83436073-f99d3f00-a45c-11ea-96cd-0deeee18f3a4.png)

[2020-06-01 17:42] zevlg opened #779 "[Feature Request] Support for mpeg1 audio"
Currently it is not possible to use inputs with mpeg1 audio streams inside container and to segment it into `.m3u8` playlist containing `.mp3` files

Partial support for mpeg1 audio is done in https://github.com/google/shaka-packager/pull/778

However this pull request implements support for mpeg1 only in mp2t container.  Support for other containers is yet to be done

mpeg1 audio format is descri

[2020-06-01 18:35] kqyang commented on #776
What problem are you seeing? Also, can you test it in Safari?

I think we have internal tests covering that and it is working for us.

[2020-06-01 18:39] sbbullet commented on #776
It gets stalled after 6 seconds (clear lead is set to 6s by default). Unfortunately, I don't have and iPhone or Mac to test it in Safari. Please test it with the latest videoJS. Shaka Player doesn't' support keyformat=identity in HLS. I am using these CDNs for latest videoJS.

[code]

[2020-06-01 18:45] kqyang commented on #776
Can you remove the clear lead during packaging (`--clear_lead=0`) and try again? videoJS may not have implemented clear lead support properly. Also, please capture the error messages.

[2020-06-01 18:46] sbbullet commented on #776
Okay. I will try is asap and get back to you.

[2020-06-01 19:08] sbbullet commented on #776
Hello @kqyang , tried it with (`--clear-lead 0`) but still no luck. It would be much helpful for us if you guys work on implementing AES-128 encryption as well. Pretty much all packagers have that feature but aren't as great as shaka packager in terms of customization. Your small effort will help a lot of people including me who can't afford DRM for encryption. I hope you will understand.

The pac

[2020-06-02 00:00] kqyang commented on #714
Mark it as a duplicate of #776.

[2020-06-02 00:00] #714 closed

[2020-06-02 00:08] kqyang commented on #769
@salmoro Do you insert the DISCONTINUITY tag at the beginning or some point past the clear lead?

If you insert it in the beginning, does the subtitle work correctly for both clear lead portion and after clear lead?

[2020-06-02 00:09] kqyang commented on #529
This issue is very old. I am closing the issue. @simhavenkat Please re-open if it is still a problem for you.

[2020-06-02 00:09] #529 closed

[2020-06-02 00:14] kqyang commented on #777
@dclarkprod I am closing this issue as your problem has been addressed. Feel free to reply if you have more questions.

[2020-06-02 00:14] #777 closed

[2020-06-02 00:47] kqyang commented on #764
@sr1990 Thanks for jumping in. @francoisbussery Waiting on your response.

[2020-06-02 00:56] kqyang commented on #589
No updates for about a year. I am closing this issue. @philmoss321 Feel free to reply if it is still a problem for you.

[2020-06-02 00:56] #589 closed

[2020-06-02 00:59] kqyang commented on #766
@Brainiarc7 Any update?

[2020-06-02 02:19] kqyang commented on #776
@astinus-1 Can you try if it works: https://github.com/google/shaka-packager/issues/776#issuecomment-637000618?

[2020-06-02 04:20] Brainiarc7 commented on #766
Working on the samples.

On Tue, 2 Jun 2020, 03:59 Kongqun Yang, <notifications@github.com> wrote:

[2020-06-02 06:02] sbbullet commented on #776
Hey @kqyang, I'm just curious if we have any slack channel. I found that we have a Google group but that's pretty much passive. I hope you will take the initiative of creating a slack group or an active group so that we people can have active communication. Let's make this world a better place together.

[2020-06-02 19:49] kqyang commented on #763
@komar007 Are you still interested in submitting a pull request to fix the issue?

[2020-06-02 20:58] kqyang commented on #776
No, we don't have a slack channel. Let's keep all the conversations on GitHub which is better overall.

[2020-06-03 00:32] #779 closed

[2020-06-03 05:08] sbbullet commented on #776
That's totally fine. Thank you @kqyang

[2020-06-03 06:07] francoisbussery commented on #764
Sorry for this bug report. I did try again and I confirm its is working. You can close this issue.

[2020-06-03 06:07] #764 closed

[2020-06-03 10:43] salmoro commented on #769
@kqyang Originally yes I've placed it at the beginning and all seemed well.

Now that you've asked this question I realized that I've only tried that fix on content that the subtitles begin after the clear lead section so I went back and tried the discontinuity fix (at the beginning of the playlist) for the same content referenced above (with subtitles starting before clear-lead end) and noticed t

[2020-06-03 23:04] #750 closed

[2020-06-04 05:02] #753 closed

[2020-06-08 08:56] sbbullet commented on #776
Hey @kqyang, are we planning to work on this very soon, or have we started working on this? Please, update me whenever you feel necessary. Thank you in advance.

[2020-06-08 09:45] mhzae opened #781 "Problem On Live Stream packaging"
Operating system : Ubuntu 18.04
Packager version : v1.2.0 (base on : https://google.github.io/shaka-packager/html/build_instructions.html)

I am new using shaka packager, i want to use it to package my local live stream from my streamer with output UDP stream

When i try this command
` # ./packager-linux in=udp://227.10.20.1:1234,stream=audio,output=live/audio_channel1.mp4 in=udp://227.10.20.1:123

[2020-06-08 20:11] kqyang commented on #781
It means it is already in use. Are you using it in another application?

Can you use a different UDP address? You may also try adding "reuse=1" option: https://google.github.io/shaka-packager/html/tutorials/live.html#udp-file-options?

v1.2.0 is very old. You should use a more recent version instead.

[2020-06-08 20:34] nikhilkalantri opened #782 "Incorporate SegmentTimeline in AdaptationSet instead of having it in each Representation"
Spoke to KQ offline about this and he asked me to file a feature request for this:

Example:
[code]

[2020-06-08 20:52] kqyang commented on #782
@nikhilkalantri Thanks for the feature request. Let us know if you are also interested in helping us implement it.

[2020-06-08 21:34] nikhilkalantri commented on #782
Sure @kqyang. I can take a look into this.

[2020-06-08 23:26] msauer2000 opened #783 "Live Packaging to HLS/Dash, AV Sync Issue in HLS but not DASH"
## System info
**Operating System**: Ubuntu 18.04
**Shaka Packager Version**: packager version 8913dbd-release

## Issue and steps to reproduce the problem

**Packager Command**:

packager \
  'in=udp://239.0.0.224:5500?reuse=1&interface=192.168.0.101,stream=audio,init_segment=cbc_audio_init.mp4,segment_template=cbc_audio_$Time$.m4s,playlist_name=cbc_audio.m3u8,hls_group_id=cbc_audio,hls_name=ENGL

[2020-06-09 01:40] kqyang commented on #783
@msauer2000

Three questions:

- Do you have a way for us to re-produce your problems?
- What player are you using for HLS playback? Have you tried other players?
- Also, is the content encrypted? If so, is the A/V sync happening on clear HLS as well?

[2020-06-09 03:48] mhzae commented on #781
Yes, there is another application on my server. And need UDP stream too

is this link https://github.com/google/shaka-packager/releases for package latest version right ?

[2020-06-09 03:51] kqyang commented on #781
Yes

[2020-06-09 04:13] mhzae commented on #781
Thank you for your help, it's helping me

[2020-06-09 04:13] #781 closed

[2020-06-09 04:47] mhzae opened #784 "Problem on VoD Packaging with DRM (Widevine)"
Operating System : Ubuntu 18.04
Packager version : v2.4.2

I want to package VoD with output DASH, and using DRM encryption too (Widevine)

When i try this command

`# ./packager-linux in=animal-planet.mp4,stream=audio,output=animal-widevine/audio.mp4,drm_label=AUDIO in=animal-planet.mp4,stream=video,output=animal-widevine/video.mp4,drm_label=VIDEO --enable_raw_key_encryption --keys label=AUDIO:ke

[2020-06-09 04:53] kqyang commented on #784
Your pssh is base64 encoded, while the argument needs to be hex encoded. Can you convert it to hex format instead?

[2020-06-09 05:04] mhzae commented on #784
I don't get it what you mean

But, i receive value of content_id, key, key_id, key_idguid, key_idhex, pssh, and full_psshbox from DRM provider that i use

Do you mean i should use value of the key_idhex in the option/parameter key_id on the command ?

[2020-06-09 05:08] mhzae commented on #784
Sory, i mean key_hex

[2020-06-09 05:21] kqyang commented on #784
@mhzae Hex and base64 are two different encodings to encode binary data. Shaka Packager expects "hex" encoded data in "key_id, key and --pssh".

If what your content provider gives you is base64 encoded, you can always translate it into hex format using a base64 to hex conversion tool.

Here is an example command to convert base64 to hex:

[code]

Also, what is in `--pssh` should be full psshbox.

[2020-06-09 06:42] mhzae commented on #784
Oh i see

It's work by the way, there is no error again

Then i want to test playback, when i open shaka player demo on this [link](https://shaka-player-demo.appspot.com/demo/
)

The website is blank
![Blank-site](https://user-images.githubusercontent.com/31914112/84114493-a461be80-aa56-11ea-9b48-791acd1cdc02.png)

I already access it on my friend's laptop, it's blank too
Do you have an alternativ

[2020-06-09 08:04] mhzae commented on #784
Thank you, it's work by the way, there is no error again when i package the content

After that, I try to test playback using [Shaka-player-demo](https://shaka-player-demo.appspot.com/demo)

This my configuration
[Image-here](https://ibb.co/fX4r0Jb)

When i try to playback, there is an error
[Image-here](https://ibb.co/h2jQTTj)

The http value error is 1002

What should i do ?

[2020-06-09 12:47] icbaker opened #785 "Broken link to Widevine API details in Widevine tutorial"
The top paragraph of [this page](https://google.github.io/shaka-packager/html/tutorials/widevine.html) says:

That bit.ly address redirects to https://storage.googleapis.com/wvdocs/Widevine_DRM_Encryption_API.pdf

Which serves me the following XML response:

[code]

[2020-06-09 14:27] suhaskam opened #786 "Support for generating dash based encrypted m4s files with muxed audio and video"
Is there any support for the below requirement ?

Given a video file containing audio and video (or take input from 1 audio stream and 1 video stream)

Generate mpd and m4s files.
The m4s files should have audio and video muxed and also encrypted using using clear key/cenc.
.ie segment-001.m4s should contain audio and video muxed and also be able to encrypt.

Is such content generation possible by

[2020-06-09 17:10] kqyang commented on #785
Thanks for letting us know.

Here is the correct link: https://storage.cloud.google.com/wvdocs/Widevine_DRM_Encryption_API.pdf. Note that you may need to have a license agreement with Widevine to access it.

We'll update the doc.

[2020-06-09 17:12] kqyang commented on #786
No. We do not support it in Shaka Packager. It is also against DASH recommendation. Is there any reason that you want muxed content?

[2020-06-09 17:16] kqyang commented on #784
Looks like player or website configuration issue. Can you ask the questions in https://github.com/google/shaka-player/issues?

[2020-06-09 17:16] #784 closed

[2020-06-09 22:57] kqyang commented on #783
Have you tried using Shaka Player?

[2020-06-09 22:58] msauer2000 commented on #783
I did not know of Shaka Player. I will try it.

From: Kongqun Yang <notifications@github.com>
Sent: June 9, 2020 4:57 PM
To: google/shaka-packager <shaka-packager@noreply.github.com>
Cc: msauer2000 <mark.sauer+github@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [google/shaka-packager] Live Packaging to HLS/Dash, AV Sync Issue in HLS but not DASH (#783)

Have you tried using Shak

[2020-06-09 23:31] msauer2000 commented on #783
The stream plays great in shaka player. Perhaps the issue I was having before is an issue with that plugin then. Thanks.

From: Kongqun Yang <notifications@github.com>
Sent: June 9, 2020 4:57 PM
To: google/shaka-packager <shaka-packager@noreply.github.com>
Cc: msauer2000 <mark.sauer+github@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [google/shaka-packager] Live Packaging to HLS

[2020-06-10 00:10] kqyang commented on #783
Cool. I'll close this bug since the stream works in Shaka Player. You may want to file an issue to the owner of the plugin if you want to pursue.

[2020-06-10 00:10] #783 closed

[2020-06-10 09:27] megapotz commented on #644
It would be nice to add hls output option with one .m3u8 and one .mp4 file.
For example I have a video file available in 1 resolution. Minimal shaka's output consists of 5 files:

master.m3u8
video.m3u8
audio.m3u8
video.mp4
audio.m4a

while 2 files is enough. Also this type of output adds extra delay, because playback starts after 3-consequent step process. Load master, than audio+video.m3u8 in pa

[2020-06-10 09:49] mhzae opened #787 "Download Encrypted VoD"
Operating System : Ubuntu 18.04
Packager version : v2.4.2

Does shaka packager support encrypted VoD with DRM to be downloadable ?

Thank you

[2020-06-10 22:51] jingke2000 commented on #717
@avrecko @kqyang Hi, I finally got chance to test the fix. However, this fix doesn't solve the bug I ran into. I still see the same video artifacts every 1 -2 seconds.

For the sample: https://hls-demo-s3.s3.us-east-2.amazonaws.com/4k_cbcs_testing/PEDRO_E_INES_TRAILER_4KUHD_PRORES_04022019_UHD20_L1.mp4, function 'SkipReferencePictureListModification' is never called because the sample's 'pps->list

[2020-06-11 01:15] mhzae commented on #787
Yes i mean for offline playback, it's like spotify and joox maybe (for the music)

[2020-06-11 01:21] kqyang commented on #787
Packager is agnostic. It depends on what the player you use. [Shaka Player](https://github.com/google/shaka-player/) supports offline playback.

[2020-06-11 01:21] #787 closed

[2020-06-11 13:45] avrecko commented on #717
@jingke2000 I looked at your sample. You still have duplicated VPS, SPS and PPS entries. I don't think you should expect 3rd party software to work well with a sample like that.

I made ts from the provided file using ffmpeg copy codec. Shaka crashes on the ts file with:

[code]
Please provide sample with non duplicated VPS, SPS, PPS and I'll take a look again.

[2020-06-11 14:30] avrecko commented on #717
@jingke2000 Besides the duplicated stuff. I've decided to run this sample against the in-house cbcs packager. I just need to put it in the samples directory and run some scripts. On frame 105 it crashes with input exhausted.

I've dumped the offending frame to hevc file and ran it against libde265 and openHEVC. They both crash as well.

Libde265:
decoding error: coded parameter out of range (code=

[2020-06-11 17:37] jingke2000 commented on #717
@avrecko You are right. There are two sets of VPS/SPS/PPS in front of each IDR slice in my sample content. To make it worse, I found these two sets of parameter sets are not even the same. That would certainly cause trouble. So I agree this content is invalid.

@kqyang I made the statement of "this fix doesn't solve the bug I ran into" too early. Sorry about that. I'm working with the content prov

[2020-06-11 17:55] kqyang commented on #717
@avrecko Thanks for looking into it!

@jingke2000 Thanks for the update. I am closing this bug. Feel free to reply if there is an update.

[2020-06-11 17:55] #717 closed

[2020-06-15 02:40] ShaoWeiguo commented on #754
I plan to submit the pull request to resolve this issue. But I have a question about the copyright. There are several new files in the PR, I am not sure about what's the copyright for these files? Google's copyright or our company's copyright?

[2020-06-15 22:26] kqyang commented on #754
@ShaoWeiguo Can you use Google's copyright header to be consistent?

[2020-06-16 04:55] ShaoWeiguo commented on #754
Grep the existing code base, all files seem to have a "Copyright xxxx Google Inc." statement.
I see. I will use Google's copyright header for new files.
Thanks.

[2020-06-18 21:36] abhi-singh-123 opened #788 "Unable to generate multi-period DASH mpd using UDP feed."
## System info
**Operating System**: Ubuntu 16.04
**Shaka Packager Version**: v2.4.2

## Issue and steps to reproduce the problem

Hi, I am trying to use udp feed for a live publish and generate multi-period dynamic mpds.
I tried below 2 packager commands but no luck. command #1 doesn't generate the mpd at all. It generates only the init and media segment files. Command #2 generates the mpd with a

[2020-06-18 21:49] kqyang commented on #788
Yah, the timestamp specified in `--ad_cues` are media timestamps. Your udp stream probably has a large media timestamp. It probably makes more sense to use real time clock for live streams.

[2020-06-18 21:57] abhi-singh-123 commented on #788
@kqyang Thanks for your answer. Could you please elaborate on how to use the real-time clock for a live stream using Shaka Packager? Also, will it also fix "[0618/142706:ERROR:simple_mpd_notifier.cc(105)] Unexpected container_id: 0"?

[2020-06-18 22:07] kqyang commented on #788
That is not supported right now. Some work in packager is needed to support `--ad_cues`.

[2020-06-18 22:35] abhi-singh-123 commented on #788
okay, Thanks @kqyang

[2020-06-19 00:05] koln67 opened #789 "Conformance Issue with DASH-IF IOP CR Low Latency Live Check"
## System info
**Operating System**: Ubuntu Debian (version unsure)
**Shaka Packager Version**: 2.4.2

## Issue and steps to reproduce the problem

Run the following command and check the resulting mpd file on the conformance tool (https://conformance.dashif.org/).

Related to #755
[firepit.zip](https://github.com/google/shaka-packager/files/4801752/firepit.zip)

**Packager Command**:
./packager i

[2020-06-20 06:17] TomHetmer commented on #748
It’s definitely caused by broken files. I guess it’s hard to tell if it’s valid or not so shaka doesn’t give any clue about that.

In our case conversion of large files with ffmpeg ts->mp4 and unreliable downloads both produced corrupted files that ended on segmentation faults.

[2020-06-22 22:59] #756 closed

[2020-06-25 15:47] jforaci opened #794 "PR for IV for raw key encryption"
Hello, I had a need to be able to specify the IV for each key given in the `--keys` option and would like to submit the following PR if you think it's okay: https://github.com/google/shaka-packager/pull/793. I updated the documentation but may need some additional docs, and tests to ensure coverage.

Not supplying the IV will generate its own random one, as before. And the `--iv` param still works

[2020-06-25 20:01] kqyang commented on #292
Merge it with #543.

[2020-06-25 20:01] #292 closed

[2020-06-25 20:04] kqyang commented on #794
Thanks for working on this feature. Appreciated!

I'll merge it into #543 as it is really a duplicate. Also, as in https://github.com/google/shaka-packager/issues/543#issuecomment-455368057, do you need different HLS key uri (#470) at the same time?

[2020-06-25 20:04] #794 closed

[2020-06-25 20:07] kqyang commented on #543
@jforaci is helping on the issue. See https://github.com/google/shaka-packager/issues/794#issue-645669435 for details.

[2020-06-25 21:18] jforaci commented on #794
Hi @kqyang, yeah, good point. I was considering the HLS key URI and thought it may be supplied the same way, per-key, but I wasn't sure since it's HLS-specific, and only for raw key encryption. I was thinking maybe the `hls_key_uri` could be tokenized per-DRM label like `--keys` is, to keep them separate but I'm not too familiar and didn't know if that's the right approach either. In my case I can

[2020-06-25 21:25] kqyang commented on #794
Yes, that is totally fine. I agree that it is better to have it in a separate PR.

If it works, it will be cleaner to support something described in https://github.com/google/shaka-packager/issues/470#issuecomment-455373692. I am fine with having a separate attribute in `key_info_string` too if necessary.

[2020-06-25 21:49] jforaci commented on #794
Sounds good. I updated the PR with your suggestions.

Ah, I hadn't considered that -- the `<key_id>` token sounds like a good idea to me.

[2020-06-25 22:27] #786 closed

[2020-06-26 03:37] #543 closed

[2020-06-26 15:26] alexdjca commented on #746
I'm having exactly the same problem and unfortunately i cannot even try to pipe or to set a static FPS because in transcoding i have to keep the original frame rate received in input.
Even if i was enthusiastic to use shaka-packager i will probably need to use ffmpeg also for packaging :(

[2020-06-26 15:30] alexdjca commented on #746
forgot to mention that my chain is:
mpegts ---> ffmpeg ----> 4x mpegts ----> shaka-packager

my ffmpeg encoding line is:

/usr/bin/ffmpeg -hwaccel nvdec -i udp://239.3.100.54:8000?fifo_size=1000000 -filter_complex [0:v]yadif, split=5[SDv][SDhv][SDqv][HDv][FHDv];[SDv]scale=-1:576[SDvINT];[SDhv]scale=-1:480[SDhvINT];[SDqv]scale=-1:360[SDqvINT];[HDv]scale=-1:720[HDvINT];[FHDv]scale=-1:1080[FHDvINT] -

[2020-06-26 16:30] Nixon197 commented on #746
Hi

Can you try adding this audio filter to your ffmpeg comand
-af "aresample=async=1:min_hard_comp=0.100000:first_pts=0"

Br

Niksa

[2020-06-26 23:19] Brainiarc7 commented on #746
Hello there,

Try this command instead:

[code]

**Changes I made:**

1. I disabled NVDEC. That code path will only give you headaches down the path with UDP input. Secondly, its' not necessarily faster than software-based decode. Note that in ffmpeg, software-based decoding (typically) scales very poorly with multiple threads for codecs such as H.264/AVC. Stick to one thread only (see -threads 1

[2020-06-29 16:11] alexdjca commented on #746
Hi Niksa, unfortunately your suggestion did produce any difference :(

Hi Dennis,

My ffmpeg doesn't support the yadif_cuda filter, neither scale_cuda

ffmpeg -filters | grep scale
 ... alphaextract      V->N       Extract an alpha channel as a grayscale
image component.
 ... extractplanes     V->N       Extract planes as grayscale frames.
 ..C scale             V->V       Scale the input video si

[2020-06-29 16:30] alexdjca commented on #746
Hi Again,

I've tested this two commands, but the result is exactly the same as
before. Audio and Video synced in the UDP output, but desynced after
Skaka-packager.

test 1:
./ffmpeg -threads 1 -i udp://239.3.100.54:8000?fifo_size=1000000
-filter_complex "[0:v]realtime,hwupload_cuda=0,yadif_cuda=0:-1:0,
split=5[SDv][SDhv][SDqv][HDv][FHDv];[SDv]scale_cuda=-1:576[SDvINT];[SDhv]scale_cuda=-1:480[SDhv

[2020-06-29 17:00] alexdjca commented on #746
Hi Again,

I've tested this two commands, but the result is exactly the same as
before. Audio and Video synced in the UDP output, but desynced after
Skaka-packager.

test 1:
[code]

test 2:
[code]

Please note that since i didn't have yadif_npp compiled i even tried
directly removing the deinterlace completely.

The FFMPEG version i've used now is the one i'm using in my personal lab:
ffmpeg versi

[2020-07-01 01:25] #692 closed

[2020-07-02 09:05] Reapss opened #797 "Removing unnecessary libraries and/or file formats"
Hello, I am working on a project requiring I package MPEG2-TS input into DASH fragments, all the while implementing encryption and linking it to a Playready Server.

This is all possible thanks to Shaka-Packager, however, as the project will run on limited resources, i wanted to know if it were possible to build the packager while excluding some features. And if so, how would one achieve it.

Than

[2020-07-04 03:25] kqyang commented on #797
Yes, there are a few easy changes you can make:

(1) Compile MPEG2-TS demuxer only. You can achieve it by removing all the "cases" except for `case CONTAINER_MPEG2TS`: https://github.com/google/shaka-packager/blob/master/packager/media/demuxer/demuxer.cc#L182

(2) Compile MP4 muxer only. You can achieve it by removing all the "cases" except for `case CONTAINER_MOV`: https://github.com/google/shaka

[2020-07-04 03:25] #797 closed

[2020-07-04 21:55] #754 closed

[2020-07-17 14:03] buriedgod opened #800 "Shaka Packager doesn't immediately consume the data on written to a input pipe"
## System info
**Operating System**: Ubuntu 16.04
**Shaka Packager Version**: packager version v2.4.2-c60e988-release

## Issue and steps to reproduce the problem
The pipeline has ffmpeg take the input and transcodes it the audio and video to pipes, shaka packager is waiting for input on these pipes , but in my case takes even around 7 seconds to read from the pipe and starts the packaging process

[2020-07-17 16:06] naktinis opened #801 ""Got a block with negative timecode offset" error for a video generated with ffmpeg that plays back fine"
## System info
**Operating System**: Ubuntu 18.04 bionic
**Shaka Packager Version**: v2.4.2

## Issue and steps to reproduce the problem

**Packager Command**:
[code]
Extra steps to reproduce the problem?
N/A

What is the expected result?
test.mpd should be generated.

What happens instead?
[code]

Test video:
https://www.dropbox.com/t/JIhhnKIwB5kywNqa

Normally I'd just accept this as a problem o

[2020-07-17 17:43] kqyang commented on #801
@naktinis It is an upstream limitation from Chrome: https://source.chromium.org/chromium/chromium/src/+/master:media/formats/webm/webm_cluster_parser.cc;drc=42859f7ad2f95f7a5bf7e5810e2abfba0008c1b8;l=464.

Also see: https://bugs.chromium.org/p/chromium/issues/detail?id=271794.

It may work with SRC in Chrome but it won't work with [MSE](https://developers.google.com/web/fundamentals/media/mse/basi

[2020-07-17 17:43] #801 closed

[2020-07-17 18:11] naktinis commented on #801
Would you have any insights of how I could approach working around these negative timestamps? For example, do you think it's something that could be addressed by changing how the video is transcoded from the source or by switching away from shaka-packager to something else? It looks like the content is there, so seems like it's just about changing the representation (but maybe I'm wrong).

Also, a

[2020-07-17 20:00] kqyang commented on #801
It is very surprising that FFmpeg generates a negative timecode. I don't know if it is a bug in FFmpeg. If it is just one P-Frame, we may be able to workaround it by just ignoring the frame. If that works, you are welcome to send a PR to us with the workaround.

Yes, Chromium is an open source project. Feel free to re-open the bug to ask the developers to look into it again.

[2020-07-17 20:12] kqyang commented on #800
@buriedgod Can you isolate the problem to video or audio? You can do this by having the video or audio stream only in FFmpeg and packager.

Another thing you can try is to reduce the `io_block_size` even further, e.g. to 1000.

[2020-07-20 22:40] nikhilkalantri opened #802 "Mux audio and video together in TS for HLS"
Looking at the examples it seems SP only supports muxing audio and video separately while creating transport streams. I have a use case where I need the TS to have both audio and video. Is this supported already or is there a plan for something like this in the future?
It might be related to this issue: https://github.com/google/shaka-packager/issues/556

[2020-07-20 22:45] kqyang commented on #802
We don't have a plan right now to support muxed audio and video.

Any reason that demuxed audio and video do not work for you?

[2020-07-20 22:49] nikhilkalantri commented on #802
I am in the process of creating streams where one of the use cases is to have muxed audio and video together.

[2020-07-21 08:24] naktinis commented on #801
Thank you for the advice! By the way, would you know of any way that would let me debug these timestamp values (to see if it's just one P-Frame, for example). The closest I could get was using ffprobe:
[code]

which for the first packet produces this:
[code]

All the other `best_effort_timestamp` values seem positive.

However, I'm unable to obtain the timestamp value reported by shaka packager/ch

[2020-07-21 12:56] tarikkilic opened #804 "Dash video doesnt play first 3-5 second"
## System info
**Operating System**: CentOS Linux 7 (Core)
**Shaka Packager Version**: packager-linux version v2.4.2-c60e988-release

## Issue and steps to reproduce the problem

**Packager Command**:

`/root/bin/packager-linux \
in=/home/www/alignment_test/1595265001/fs_1.mp4,stream=audio,output=/home/www/alignment_test/1595265001/shaka/out_audio.mp4 \
in=/home/www/alignment_test/1595265001/fs_1.

[2020-07-21 17:20] kqyang commented on #801
You may use a [ebml viewer](https://code.google.com/archive/p/ebml-viewer/) or [mkv parser](https://github.com/remko/go-mkvparse) to read the tags.

You may also dump all the timestamps using FFmpeg/FFprobe to see if there is anyone malicious.

[2020-07-22 07:25] jgkim0518 opened #805 "How can I insert widevine PSSH to init.mp4"
## System info
**Operating System**: CentOS Linux release 7.5.1804
**Shaka Packager Version**: v2.4.2

## Issue and steps to reproduce the problem

Hello.
I want to insert widevine PSSH to init.mp4. How can I do it?

**Packager Command**:
[code]

[2020-07-22 16:29] kqyang commented on #805
@jgkim0518 Can you clarify your question or what problem are you seeing? If you haven't, you can read our tutorials here: https://google.github.io/shaka-packager/html/tutorials/drm.html.

[2020-07-23 00:34] jgkim0518 commented on #805
I have used widevine encryption. It instert PSSH to .mpd and .m4s but don't init.mp4. I want to insert PSSH to init.mp4 too. I can't find a way on shaka packager doc and web searching. How can I insert PSSH to init.mp4?

[2020-07-23 00:40] kqyang commented on #805
The PSSH is not inserted in the init.mp4 when key rotation is enabled. This is because the PSSH is different for different segments. Why do you need PSSH in init.mp4 in this case?

[2020-07-24 06:48] jgkim0518 commented on #805
I don't know...I am editing source code. thank you.

[2020-07-24 06:48] #805 closed

[2020-07-25 07:44] psytechno604 opened #806 "Changing availabilityStartTime of the DASH live"
## System info
**Operating System**: tried Windows 10, Mac Os, Ubuntu
**Shaka Packager Version**: v2.4.2

## Issue and steps to reproduce the problem

I need to set up a **DASH live stream from file played in a loop. The resulting manifest must have   availabilityStartTime="1970-01-01T00:00:00Z"**. Exactly like this - https://live.unified-streaming.com/scte35/scte35.isml/.mpd.

I tried this soluti

[2020-07-27 22:25] PestoPatrick opened #807 "Ninja -C out/Release not working on Ubuntu 20.04"
## System info
**Operating System**: Ubuntu 20.04
**Shaka Packager Version**: v2.4.2

## Issue and steps to reproduce the problem

Hello,

I was not sure of where to put this but after struggling with trying to build the binaries in Ubuntu I wanted to post or write up just in case anyone had a similar issue.

When following the steps at https://github.com/google/shaka-packager/blob/master/docs/sou

[2020-07-28 00:31] kqyang commented on #807
Thanks @PestoPatrick for the report.

Can you try if `sudo apt-get install libtinfo5` works?

Do you want to submit a PR to fix the build instructions? Appreciated.

[2020-07-28 00:48] kqyang commented on #806
@psytechno604

`availablityStartTime` is computed from media timestamp. For MPEG2-TS, timestamp is 33 bit, so it is limited to (1<<33) / 90000 seconds. We do not support extracting the time signal embedded in SCTE35 yet.

What is the reason that you want to fix `availablityStartTime` to `1970-01-01T00:00:00Z`?

[2020-07-28 00:54] kqyang commented on #804
@tarikkilic Sorry for the late reply. I am confused. Can you clarify the three sections below:

Do you mean playing stream.mpd in a DASH Player?

Do you mean playing out_1.mp4 and out_2.mp4 directly in a browser?

Is it the same as the first comment, i.e. playing stream.mpd?

[2020-07-28 02:25] roticv opened #808 "Shaka packager doesn't handle clear samples in encrypted track correctly"
## System info
**Operating System**: centos 7
**Shaka Packager Version**: 1.6.0

## Issue and steps to reproduce the problem

I was reading ISO/IEC 23001-7:2016 and the source code of shaka packager and my conclusion is that shaka packager isn't implementing the logic of clear samples in encrypted track correctly.

Clause 6 from ISO/IEC 23001-7:2016 states

[code]

When reading through shaka packa

[2020-07-28 05:17] kqyang commented on #808
Thanks for bringing it up. We do support CENC sample groups, which is used for key rotation.

We did not use CENC sample groups for clear lead intentionally as it was not supported on legacy devices, which we believe it is still the case. In practice, this gives the maximum support coverage across devices, across browsers.

I agree that it is not 100% compliant to the CENCv3 spec though we can arg

[2020-07-28 10:46] psytechno604 commented on #806
The reason is third-party server-side ad insertion software that we are using.. It requires availabilityStartTime="1970-01-01T00:00:00Z", otherwise simply does not work. I cannot do anything with it, because it is out of my scope (this is proprietary software).

Maybe you can give me a clue on how to move forward? I understand the thing with timestamp capacity - that is exactly what I supposed fir

[2020-07-28 13:02] PestoPatrick commented on #807
Yeah sure. I will get on that later today.

[2020-07-28 17:08] kqyang commented on #806
@psytechno604 A possible workaround is to adjust Period@start instead of adjusting MPD@availablityStartTime. So we can fix availabilityStartTime="1970-01-01T00:00:00Z". Would that work with your third-party server-side ad insertion software?

It will require some changes in the code here: https://github.com/google/shaka-packager/blob/8e113af215d48e704b5b031442fe3841b4e6940c/packager/mpd/base/mpd_b

[2020-07-29 08:45] psytechno604 commented on #806
If it will have availabilityStartTime="1970-01-01T00:00:00Z" - then it would work with our server. But if the timestamps inside segments are the same as with "standart" DASH stream with availabilityStartTime=<stream start time> - it will not play on any player (except VLC). I tried already to do similar thing - changing manifest and segment names accordingly. Players simply skip these segments, be

[2020-07-29 16:20] kqyang commented on #806
@psytechno604 Did you modify the `Period@start` as well? It should work on DASH compliant players, e.g. [Shaka Player](https://github.com/google/shaka-player).

[2020-07-30 12:46] totoCZ opened #809 "Track numbers not compatible with ffprobe/no way to know stream order"
Hi,

I've been naively using
` /usr/bin/ffprobe -v quiet -print_format json -show_format -show_streams`
to supply stream_selectors to shaka packager, but it seems to be wrong.

    Stream #0:1[0xd3]: Video: h264 (High) ([27][0][0][0] / 0x001B), yuv420p(progressive), 1920x1080 [SAR 1:1 DAR 16:9], 50 fps, 50 tbr, 90k tbn, 100 tbc
    Stream #0:2[0xd4]: Video: h264 (Main) ([27][0][0][0] / 0x001B), yu

[2020-07-30 12:52] TomHetmer commented on #809
Sample file
http://1737293223.rsc.cdn77.org/share/archive.ts

[2020-07-31 04:48] roticv commented on #808
Yes, the main reason for bringing up this topic is because of spec compliance.

I came across this issue because I had some examples of accidental mixing of clear and drm content and shaka-packager wasn't coughing on the input. This led me to the specs to understand what's the correct mechanism for having a mix of clear and drm content and also the discovery that shaka-packager isn't spec complian

[2020-07-31 05:07] kqyang commented on #808
Ok. Thanks for the info. I am closing this as working as intended as explained above.

[2020-07-31 05:07] #808 closed

[2020-07-31 17:11] roticv commented on #808
Interesting: So the conclusion is that there is no intention for shaka-packager to adhere to specs? It seems easy to resolve (by backporting the fixes already in chromium). This is slightly disappointing to me

[2020-08-01 04:05] kqyang commented on #808
@roticv I may have misunderstood your request.

Is your concern on Shaka Packager output with clear lead? Or is your concern on Shaka Packager's support on partially encrypted input?

For the former, as explained in https://github.com/google/shaka-packager/issues/808#issuecomment-664782348, it is a design choice to have the output with clear lead working on modern devices as well as legacy devices

[2020-08-01 05:04] kqyang commented on #701
The fix was cherry-picked to v2.4.2.

[2020-08-01 05:04] kqyang commented on #708
The fix was cherry-picked to v2.4.2.

[2020-08-01 05:09] kqyang commented on #717
Cherry-picked to v2.4.x branch for v2.4.3 release.

[2020-08-01 05:10] kqyang commented on #750
Cherry picked to v2.4.x branch for v2.4.3 release.

[2020-08-03 11:07] davidj198 opened #810 "[WebM] Support for HDR"
Hello,

'webm_video_client.cc(234)] Not implemented reached in virtual bool shaka::media::WebMVideoClient::OnUInt(int, int64_t)HDR is not supported yet.'

Any plans to support HDR soon?

Cheers,

David

[2020-08-03 11:50] buriedgod commented on #800
@kqyang i have reduced the `io_block_size` and the issue seems resolved.

Very sorry about the delayed response.

[2020-08-03 12:02] psytechno604 commented on #806
A bit busy now, but I will definitely try, it is on my list. As I understood, I need to find out how to change it in the code, not in the command line or like that? And build everything from source?

[2020-08-03 18:12] kqyang commented on #800
Cool. That is a limitation of using the pipe as it blocks until the number of bytes are available.

Glad that reducing `io_block_size` works for you. Another thing you can try is to use UDP sockets.

[2020-08-03 18:12] #800 closed

[2020-08-03 18:50] kqyang commented on #806
@psytechno604 You may also try modifying the manifest directly using some script first, which should be easier than modifying packager source code.

[2020-08-03 18:52] kqyang commented on #810
It is on our list, but unfortunately we don't have bandwidth to work on it right now. Let us know if you are interested in helping us implement it.

[2020-08-04 00:57] #804 closed

[2020-08-04 06:55] mkcdot opened #811 "Key rotation content's audio stream playback is failing after 6 seconds"
## System info
**Operating System**: Windows 10
**Shaka Packager Version**:  v2.4.2-c60e988afa-release

## Issue and steps to reproduce the problem
1. Plain mp4 file with h.264 video and AAC audio codec is encrypted and packaged in dash format with key rotation and `enable_raw_key_encryption` options for clearkey and/or widevine DRMs.
2. Output Dash content is played using exoplayer with clearkey